/* Top box of the index page */
#intro{
    padding: 30px 20px;
    min-height: 290px;
    background: #e7e2de url(../img/example.jpg) no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
   position: relative;
   overflow: hidden;
}

#intro h2{
    font-size: 1.8em;
    margin: 10px 20px 9px 380px;
    padding: 0 0 5px;
    background: url(../img/stripe.png) repeat-x 0 bottom;
}

#intro p{
    font-size: 1.3em;
	margin: 0 20px 0 380px;
}

/* Getting Started box */
#start p {
    font-size: 1.3em;
}
