/* @override http://localhost:8000/media/css/master.css */

/*
CSS EXPLANATIONS

border-radius: for making rounded corners; browser support may vary

margin: spacing around the outside of an element.  If specified by 4
 values, it means top left bottom right.  If both left and right have
 a value of auto, then the element is centered horizontally.
*/

/*	WdeB
breadandpepper.com
................................... */

@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);


/*	Main elements
................................... */

html, body{
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    background: #eae5e1 url(../img/bg-container.png) repeat-y center top;
}

#container{
    width: 1008px;
    margin: 30px auto 50px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
	background-color: #f6f4f2;
	border: 1px solid #fff;
	padding: 0 10px;
}

#top{
    height: 30px;
    background-color: #111;
    border-bottom: 1px solid #fff;
}

#header{
    /* Consider styling the header here */
}


#content-container{
    padding: 12px;
    position: relative;
}

div.nav_container{
    margin: 20px 20px 20px 20px;
    position: relative;
    height: 40px;
}

/* Positioning for left navigation buttons */
ul.nav_left{
    position: absolute;
    left: 0;
    overflow: auto;
}

/* Positioning for right navigation buttons */
ul.nav_right{
    position: absolute;
    right: 0;
    overflow: auto;
}

ul.nav li{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    /* The border adds shadow around each button, but does not expand the button's clickable area */
    border-width: 1px;
    border-style: solid; 
    border-color: #eee #eee #fff #eee ; 
    -webkit-border-radius: 11px; 
    -moz-border-radius: 11px; 
    border-radius: 11px;
    -webkit-background-clip: padding-box;
}

ul.nav li.text{
    /* No borders for text elements, only for buttons.  For now. */
    border-width: 0;
}

ul.nav li a{
    background: #ede9e4;
    float: left;
    /* The padding adds shadow around each button; it also expands the button's clickable area */
    padding: 4px 4px 3px;
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
}

/* This is for the stuff within a button (background and text) */
ul.nav li a span {
    display: block; 
    color: #686868; 
    padding: 0.52em 1.6em 0.48em;
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;
}

ul.nav li.selected a span {
    color: #000000;
}

ul.nav li a:hover span {
    background-color: #e0dfda;
}

ul.nav li a:active span {
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.58em 1.6em 0.30em;
    line-height: 1.5em;
}

ul.nav li.button_prominent a{
    background: #e8c8c8;
}
ul.nav li.button_prominent a:hover span {
    background-color: #f0b8b8;
}
ul.nav li.button_prominent a:active span {
    background-color: #f0b8b8;
}

#nav_profile li a{
    background: #e8e8b8;
}
#nav_profile li a:hover span {
    background-color: #f0f0a8;
}
#nav_profile li a:active span {
    background-color: #f0f0a8;
}

#nav_messages li a{
    background: #e8d8c0;
}
#nav_messages li a:hover span {
    background-color: #f0e0b0;
}
#nav_messages li a:active span {
    background-color: #f0e0b0;
}



#intro{
    padding: 30px 20px;
    min-height: 290px;
    background: #e7e2de url(../img/example.jpg) no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
   position: relative;
   overflow: hidden;
}

#xtra-info{
    text-align: center;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    text-shadow: #000 -1px -1px 0;
    color: #c1bcb9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background-image: url(../img/trans.png);
	-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
 -moz-box-shadow: 0 -2px 3px #ccc;
    -webkit-box-shadow: 0 -2px 3px #ccc;
    box-shadow: 0 -2px 3px #ccc;
}

#xtra-info a{
	color: #fff;
}

.white-box{
    margin: 15px auto 20px;
    padding: 12px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #efebe8;
    width: 506px;
    -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow:  inset 0 0 3px #999;
    overflow: auto;
}

#details{
    width: 140px;
    margin: 0 0;
    background-color: #fffeff;
    padding: 6px;
    text-align: left;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
}

#details img{
	margin: 0 0 10px;
}

/*	Type
................................... */

h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif; text-transform: uppercase; text-shadow: #ffffff 1px 1px 0px;}

p{
    font-size: 1.0em;
    line-height: 1.5em;
    color: #444;
    margin: 0 0 0.9em 0;
    text-shadow: #ffffff 1px 1px 0;
}

p.intro{
	margin: 0 20px 0 380px;
}

.white-box p{
    margin: 0 12px 5px;
    color: #000;
}

h1{
    margin: 25px 0 0 ;
    font-size: 2.2em;
}

h2{
    margin: 0 0 1.0em 0;
    font-size: 1.4em;
}

h2.content-title{
	font-size: 1.5em;
	margin: 10px;
    padding: 15px 15px 12px;	
    background: #e7e2de no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
    color: #ab292a;
}

h2.intro{
    font-size: 1.8em;
    margin: 10px 20px 9px 380px;
    padding: 0 0 5px;
    background: url(../img/stripe.png) repeat-x 0 bottom;
}

h2 span{
    font-size: 1.8em;
    color: #ac1500;
}

.white-box h2{
    width: 482px;
    padding: 5px 12px 6px;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #f1edeb;
    color: #ab292a;
    background-image: none;
}

h3{
    font-size: 1.2em;
    margin: 0 0 5px;
}


h4{
    font-size: 1.2em;
}

h5{
    font-size: 1.0em;
}

h6{
    font-size: 0.7em;
}

a{
    color: #880e00;
    text-decoration: underline;
}

/* a.button: CSS previously used for "Compose Message" and "Reply" buttons for userena Messages */
a.button{ 
    background: #ede9e4; 
	display: block;
	width: 200px;
    padding: 4px 4px 3px; 
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    clear: both;
    position: absolute;
    right: 20px;
    top: -55px;
}

a.button span { 
    display: block; 
    color: #8b0908; 
    padding: 0.52em 1.6em 0.48em;  
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;
	text-align: center;
}



a.button:active span {  
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.58em 1.6em 0.30em;
    line-height: 1.5em;
}

.white-box img{
    float: right;
    border: 3px double #f1edeb;
    padding: 4px;
    background-color: #fff;
    margin: 0 10px;
}



/*	Forms
................................... */

form {
    margin: 15px auto 20px;
    padding: 12px 0;
    width: 800px;
}

/* The element around the whole form field, containing the label, field, helptext, and errors. */
form p, .form_item_wrapper {
    padding: 3px 0;  /* vertical horizontal*/
    margin: 0;
    border-bottom: 1px solid #ddd;
    overflow: auto;  /* This allows the element to expand for multi-line labels and such */
}

label {
    /* This puts the label in a left column, with the text
     aligned on the right side of that column. */
    width: 250px;
    float: left;
    text-align: right;

    /* Effectively get top/bottom margins for each text line
    in the label (including between lines in a multiline label) */
    line-height: 140%;

    /* Right margin makes a bit of horizontal space between the label and the field */
    margin: 7px 10px 7px 0;    /* top right bottom left */
    
    font-size: 1.0em;
    color: #444;
}

/* labels for checkboxes. At least the ones in the new-labelset form. */
label.checkbox_label {
    /* Simply float: none should work for a simple list of checkboxes. */
    float: none;
}

.field_wrapper {
    /* Everything in this wrapper goes in a block that sits to
     the right of the field label.  Need display:table-cell
     to make everything sit to the right. */
    display: table-cell;
}

input[type=text],input[type=password], input[type=file], textarea, span.editable {
    border: 1px solid #d7d7d7;
    font-size: 14px;
    padding: 5px 6px;
    margin: 3px 0;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type=checkbox] {
    padding: 14px 0;
    width: 20px;
}

input[type=radio] {
    margin: 0 8px 0 0;
}

/* Dropdown box */
select {
    min-width: 60px;
    margin: 7px 0;    /* top/bottom left/right */
}

input:focus,
textarea:focus,
span.editable:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #4c4c4c;
}

/* Multiline text field */
textarea {
    height: 4em;
    margin: 3px 0;    /* top/bottom left/right */
}

input[type=submit], button.submit {
    height: 35px;
    display: inline;
    line-height: 34px;
    padding: 0 10px;
    margin-top: 4px;
    min-width: 150px;
    background-color: #ab292a;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}

input[type=submit]:active, button.submit:active {
    line-height: 36px;  /* Intended effect is to make the button move a bit as you click it.  May not work the same in FF and Chrome though. */
    background-color: #bd302d;
    border: 1px inset #ce3024;
}

input[type=submit][disabled], button.submit[disabled] {
    line-height: 34px;
    background-color: #666666;
    border: 1px outset #888888;
    cursor: default;
}
/* Don't define a [disabled]:active style, so the disabled submit button doesn't change appearance when you click it */


/* Wrap one or multiple submit buttons of a form. */
.submit_button_wrapper {
    /* This aligns the buttons themselves. */
    text-align: center;
}

/* Field errors.  "This field is required", etc. */
ul.errorlist {
    border: 1px solid #a3181c;
    background-color: #fedae0;
    color: #a3181c;
    margin: 3px 0;    /* top/bottom left/right */
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
ul.errorlist li {
    font-size: 0.8em;
    padding: 5px 5px 4px 5px;
    font-weight: bold;
}

.errorlist_wrapper {
    /* This prevents the errorlist element from expanding beyond the space that
    its text needs. We could make the errorlist itself display as a table-cell,
    but this would make the margins not work (margins only work for block elements). */
    display: table-cell;
}

/* Help text for a field: "No more than 20 characters", etc. */
.helptext {
    /* left margin is label's width + label's margin-right */
    margin: 3px 0;    /* top/bottom left/right */
    display: block;

    line-height: 120%;
}

/* For groups of fields */
fieldset {
    margin: 0 0 20px 0;
}
/* A special header, conventionally for fieldsets */
legend {
    width: auto;
    padding: 5px 0 6px 0;
    font-size: 1.3em;
    color: #ab292a;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}

legend.small {
    font-size: 1.2em;
    text-transform: none;
}

/* Userena special cases, apparently */
#signin input[type=checkbox] {
    display: block;
    float: left;
    padding: 0;
    margin: 3px;
    width: 10px;
}

p.forgot-password{
    padding: 10px 0 10px 180px;
    margin: 30px 0 10px;
    border-bottom: 1px solid #f1edeb;
    border-top: 1px solid #f1edeb;
}

/*	Nav
................................... */

#header h1{
    width: 150px;
    height: 112px;
    margin: 0;
}


/* profile-nav was userena's original profile navigation menu -
the menu items looked more like tabs and less like buttons. */
ul#profile-nav{
    height: 40px;
    position: absolute;
    right: 25px;
    top: -47px;
    width: 490px;   
}

ul#profile-nav li{
    margin: 0 0 0 0;
    float: left;
    text-align: center;
}

ul#profile-nav li.selected a{
    color: #111;
    padding: 8px 25px 8px;
    text-decoration: none;
	background-color: #f6f4f2;
	-moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-box-shadow: 0 -1px 1px #ccc;
    -webkit-box-shadow: 0 -1px 1px #ccc;
    box-shadow:  0 -1px 1px #ccc;
    border: 1px solid #fff;
    border-bottom: none;
}



ul#profile-nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    display: block;
    height: 20px;
    line-height: 25px;
    padding: 8px 25px 8px;
    color: #999997;
	text-align: center;
}


ul#profile-nav li a:hover{
    text-decoration: underline;
}

/*	features
................................... */

ul.features {
    overflow: auto;
    margin: 30px -12px 0;
}



ul.features li{
    background: url(../img/stripe.png) repeat-x center top;
    padding: 30px 10px 0 0;
    float: left;
    width: 310px;
    margin: 10px 0 0 12px;
    min-height: 180px;
}   

/*	blocks
................................... */
ul.blocks {
    overflow: auto;
    margin: 40px -12px 0;
}



ul.blocks li{
    background: url(../img/stripe.png) repeat-x center top;
    padding: 30px 0 0;
    float: left;
    width: 237px;
    margin: 10px 0 0 12px;
    text-align: center;
}


/*	footer
................................... */ 
#footer{
    background: url(../img/stripe.png) repeat-x center top;
    padding-top: 5px;
}

#footer p{
    text-align: right;
    font-size: 0.7em;
}   

#footer p a{
	font-weight: bold;
}

/*	change language
................................... */ 
div#lang_form {
    width: 1008px;
    margin: 0 auto;
    position: relative;
}

div#lang_form p {
    margin: 0;
    padding: 0 0 0 3px;
    font-size: small;
}

div#lang_form select{
    margin: 5px 0 0 ;
}

div#lang_form form {
    position: absolute;
    right: 10px;
    margin: 1px;
    padding: 0;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    background-color: transparent;
    width: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div#lang_form form label{
    color: #676767;
    font-size: 0.7em;
    font-weight: bold;
}


div#lang_form input[type=submit] {
    float: right;
    height: 21px;
    line-height: 34px;
    padding: 0 10px;
    margin: 5px 0 0 10px;
    min-width: 80px;
    background-color: none;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}


/*	notifications
................................... */

ul.messages{
    position: absolute;
    font-size: 0.8em;
    font-weight: bold;
    width: 540px;
    left: 50%;
    top: 4px;
    margin: 0 0 0 -270px;
}

ul.messages li{
    background-color: #fcf5d8;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 4px 20px;
    text-align: center;

}


/*	messages
................................... */  

#messages{
	padding: 0;
	margin: 20px 0 0;
}

#messages li{
	padding: 15px 10px;
	margin: 0;
	overflow: auto;
}  

#messages li a{
	font-weight: bold;
	display: block;
	margin: 0 0 5px;
	text-decoration: none;
}

#messages.list-view a{
	display: block;
	overflow: auto;
	padding: 10px 0 10px 10px;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
border-radius: 2px;
}

#messages.list-view a:hover{
	background-color: #eee;
}


p.date {
  font-size: 70%;
  margin: 10px 0 0;
  color: #777;
}

.avatar {
  width: 80px;
  border: 1px solid #ccc;
  float: right;
  margin: 0 10px;
}

.avatar.received {
  float: left;
}

.message-content{
	
	margin: 0 110px;
	padding: 15px;
	-moz-border-radius: 2px;
border-radius: 2px;
position: relative;
min-height: 52px;
}

.send .message-content{
	margin: 0 110px;
	background-color: #e6e6e6;
	
}

.received .message-content{
	margin:0 110px;
	background-color: #dadada;
	
}



/*	account list
................................... */    

#account_list{
    margin: 0 0 0 -12px;
    overflow: auto;
}

#account_list li{
    width: 142px;
    margin: 0 0 12px 12px;
    float: left;
    background-color: #fffeff;
    padding: 6px;
    text-align: center;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
}

#account_list li img{
    width: 142px;
    height: 142px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
} 

#account_list li a{
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}   



/*	detail tables
(for example, table listing the details of each label in a labelset)
................................... */

table.detail_table {
    border: 1px solid #999999;
    border-collapse: separate;  /* Firefox seems to make border widths inconsistent if border-collapse: collapse */
}
table.detail_table th,
table.detail_table td {
    border: 1px solid #999999;
    padding: 5px;
}
