#id_search_form div.form_item_wrapper {
    display: inline-block;
    margin: 0 10px;
    border: 0;
}

#id_search_form label {
    width: auto;
}

/* Page-view radio button styling. Django 1.3 and below
makes radio buttons use li elements. */
#id_page_view_wrapper .field_wrapper label {
    margin: 0 5px;  /* top/bottom left/right */
}
#id_page_view_wrapper .field_wrapper li {
    display: inline;
}

#id_metadata_form input[type="text"].changed {
    border-color: blue;
}
#id_metadata_form input[type="text"].error {
    border-color: red;
}

/* Differentiate certain parts of the page from others with a colored box.
   Maybe this could be used throughout the site, not just here. */
form.box {
    background-color: #e0e0e0;
    border: 1px solid #000000;
    border-radius: 5px;
}