{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2 class="content-title">Conversation with {{ recipient }}</h2>{% endblock %}

{% block nav %}
    {{ block.super }}

    <div class="nav_container" id="nav_second_container">
      <ul class="nav nav_right" id="nav_messages">
        <li><a href="{% url userena_umessages_compose_to recipient.username %}"><span>{% trans "Reply" %}</span></a></li>
      </ul>
    </div>

{% endblock %}

{% block content %}

<ul id="messages">
{% for message in message_list %}
<li class="{% if message.sender == user %}send{% else %}received{% endif %}">
  <img src="{{ message.sender.profile.get_mugshot_url }}" class="avatar {% if message.sender == user %}send{% else %}received{% endif %}" />
  <div class="message-content">
    {{ message }}
    <p class="date">{{ message.sent_at }}</p>
  </div>
  
</li>
{% endfor %}
</ul>
{% endblock %}
