{% extends "base.html" %}

{% block media-includes %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/index.css" />
{% endblock %}

{% block content %}

<div id="intro">
  <h1>CoralNet</h1>
  <h2>A Web solution for coral reef analysis</h2>

  <p>Upload coral reef images, organize and annotate images, and view annotation statistics.</p>

</div><!-- /intro-->

<br />

<div id="start">
  <h1>Getting Started</h1>

  <p>1. Create a <a href="{% url source_about %}">Source</a></p>
  <p>2. Create a labelset for your Source</p>
  <p>3. Upload images to the Source</p>
  <p>4. Use our annotation tool to annotate the images</p>

</div><!-- /start-->

{% endblock %}

{% block footer_extra %}
    <p>Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></p>
    <p>Site theme adapted from <a href="http://django-userena.org/" target="_blank">Django-Userena</a></p>
    <p>Credit for front page image: <a href="http://www.flickr.com/photos/usfwspacific/5565696408/" target="_blank">Jim Maragos/U.S. Fish and Wildlife Service</a></p>
{% endblock %}
