#Ignore files that are meant to differ between dev and production
settings_2.py
settings_2.pyc
images/task_helpers.py
images/task_helpers.pyc
templates/maintenance_notice.html
*.pyc
*.py~
#Ignore apache configs
apache/django.wsgi

#Ignore IDE stuff
.idea

#Ignore folders with the backend outputs
/images/models/*
/images/classify/*
/images/features/*
/images/preprocess/*
/logs/*

#ignore other misc things
/images/robot_running_flag
/misc_not_versioncontrolled/*
