#Ignore files that are meant to differ between dev and production
settings_2.py
settings_2.pyc
images/task_helpers.py
images/task_helpers.pyc

#Ignore apache configs
apache/django.wsgi

#Ignore IDE stuff
.idea
