/* CSS for the annotation tool. */


#footer {
    display: none;
}

#container {
    /* Fixed width shouldn't apply to this page. */
    width: inherit;

    margin: 0;
    padding: 0;
}

#content-container {
    margin: 0;
    padding: 0;
}

#mainColumn {
    float: left;
}

#rightSidebar {
    float: left;
}


/* For the image and canvas, use position:absolute
 * and make their positions the same (default of 0,0).  This'll make
 * them overlap.  Use z-index to determine which "layers" are on
 * top or bottom.  Also, the surrounding div must have
 * position:relative so that the image and canvas don't overlap
 * the rest of the page elements.
 */

#annotationArea {
    position: relative;
}

#imageArea {
    position: absolute;
    overflow: hidden;
}
#imageCanvas {
    position: absolute;
}
#pointsCanvas {
    position: absolute;
}
#listenerElmt {
    position: absolute;

    /* Disable "selecting" this element by double-clicking it;
       that can get in the way while trying to zoom. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#label-button-table {
    /* Make the table expand to the size of its enclosing area. */
    width: inherit;
    height: inherit;

    /* Each cell should have its own top, bottom, left, and right borders.
    This way, we can change the border of the cell to create an outline
    around the cell. */
    border-collapse: separate;
}

#label-button-table tr td {

    /* Set a transparent border that is the same size as the "current button"
    border.  That way, the border size doesn't change (and thus elements
    don't shift) when the button becomes the "current" button. */
    border: 3px solid transparent;

    cursor: pointer;

    /* The label code text should be center-aligned on the button,
    both horizontally and vertically. */
    text-align: center;
    vertical-align: middle;
}
#label-button-table tr td.current {
    border-color: #000000;
}

/* TODO: Probably want to consider assigning a certain color for each functional group
 * and using that color site-wide.  For example, always green for hard coral.
 * (Maybe make the colors customizable too?) */
#label-button-table tr td.group1{ background-color: #8888ee; }
#label-button-table tr td.group1:hover{ background-color: #9999ff; }
#label-button-table tr td.group2{ background-color: #ee8888; }
#label-button-table tr td.group2:hover{ background-color: #ff9999; }
#label-button-table tr td.group3{ background-color: #88ee88; }
#label-button-table tr td.group3:hover{ background-color: #99ff99; }
#label-button-table tr td.group4{ background-color: #88eeee; }
#label-button-table tr td.group4:hover{ background-color: #99ffff; }
#label-button-table tr td.group5{ background-color: #ee88ee; }
#label-button-table tr td.group5:hover{ background-color: #ff99ff; }
#label-button-table tr td.group6{ background-color: #eeee88; }
#label-button-table tr td.group6:hover{ background-color: #ffff99; }
#label-button-table tr td.group7{ background-color: #888888; }
#label-button-table tr td.group7:hover{ background-color: #999999; }
#label-button-table tr td.group8{ background-color: #4499dd; }
#label-button-table tr td.group8:hover{ background-color: #55aaee; }

#toolButtonArea {
    margin-bottom: 5px;
    text-align: center;
}
#toolButtonArea input[type="image"] {
    /* Setting height allows Chrome to correct compute the height of this
     element, even when the image hasn't fully loaded yet.
     http://stackoverflow.com/questions/1743880/image-height-using-jquery-in-chrome-problem */
    height: 24px;

    border: 2px solid #888888;
}
#toolButtonArea input[type="image"].selected {
    border-color: #FF0000;
}

#annotationList {
    /* scrollbars will appear only if they're necessary */
    overflow: auto;

    /* height is set dynamically. */
}

#annotationForm {
    width: auto;
    margin: auto;
    padding: 0;
}

/* Label fields */
#annotationForm input {
    margin: 1px 0;
    padding: 1px 1px;
}

/* Currently selected points */
#annotationForm tr.selected span.annotationFormLabel {
    background-color: #CCFFCC;
}

/* Robot annotated, not human confirmed yet */
#annotationForm tr.robot input {
    color: #888888;
}

/* Label field has an invalid label code */
#annotationForm tr.error input {
    background-color: #FFCCCC;
}

/* Numbers next to the label fields */
.annotationFormLabel {
    padding: 1px 3px;
    margin: 0 2px;
    border: 1px solid #D7D7D7;

    /* Use the regular arrow cursor, not the text highlight cursor */
    cursor: default;

    /* Make the number's clickable box take up the whole table cell */
    display: block;
}

/* Table cell containing an annotationFormLabel */
td.annotationFormLabelCell {
    text-align: center;
}

/* Place for ALL DONE text */
#allDone {
    color: blue;
    font-size: 1.3em;
    font-weight: bold;

    /* Let this element have some height (enough to fit one line of text),
       even when there is no text. This'll ensure that when the ALL DONE
       text appears, it won't collide with any elements below it. */
    height: 1em;

    padding: 5px;
}


/* Info and nav buttons */

#info-buttons table, #nav-buttons table {
    /* Make the tables expand to the size of its enclosing area. */
    width: inherit;
    height: inherit;
}

#info-buttons table tr td, #nav-buttons table tr td {
    /* Have borders around the button so the text isn't right up against
    the button's edge.*/
    border: 3px solid transparent;

    /* The button text should be center-aligned on the button,
    both horizontally and vertically. */
    text-align: center;
    vertical-align: middle;
}

#info-buttons table tr td button, #nav-buttons table tr td a {
    /* Get rid of the default link color */
    color: inherit;
    /* Get rid of the default link underline */
    text-decoration: none;

    /* 3D button look */
    border-style: outset;
    border-width: 2px;
    border-color: #eeeeee;

    /* TODO: Placeholder styling to make the buttons a little bigger for now.
    Might want to set this dynamically according to the space we have for the
    buttons. */
    padding: 5px;

    /* Makes the button the right width and height, but then the text isn't
    vertically aligned correctly... */
    /*display: block;*/
    /*height: 100%;*/
}
#info-buttons table tr td button:active, #nav-buttons table tr td a:active {
    /* 3D button look: button is pressed in when clicked. */
    border-style: inset;
}

#info-buttons table tr td button, #nav-buttons table tr td a span {
    /* Button text. */
    font-weight: bold;
    font-size: 0.9em;
}

#info-buttons table tr td button {
    background-color: #b8e8e8;
}
#info-buttons table tr td button:hover {
    background-color: #c8f8f8;
}

#nav-buttons table tr td a {
    background-color: #b8e8b8;

    /* Make the link buttons rounded to (a) distinguish them from the other
    buttons, and (b) make them consistent with other navigation buttons
    elsewhere on the site. */
    /* TODO: Might want to set this dynamically according to the button size. */
    border-radius: 10px;
}
#nav-buttons table tr td a:hover {
    background-color: #c8f8c8;
}


/* Instructions */

#id_instructions_wrapper div.help_section {
    margin-bottom: 10px;
}

#id_instructions_wrapper div.help_section ul {
    list-style: disc none inside;
}
#id_instructions_wrapper div.help_section li {
    line-height: 1.2em;
}
#id_instructions_wrapper div.help_section ul li ul {
    padding-left: 20px;
}

#id_instructions_wrapper div.help_section span.help_header {
    font-weight: bold;
    line-height: 2.0em;
}

/* Styling to indicate keyboard keys, such as Ctrl, arrow keys, etc. */
kbd {
    font: inherit;    /* No monospaced font, just the usual font */
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 0 2px;    /* 2px of horizontal padding */
    background-color: #DDDDDD;
    border: 2px solid black;
}

/* jQuery-UI sliders. */
.ui-slider {
    margin: 3px 0 3px 254px;  /* top right bottom left */
    width: 250px;
}

/* Place for "Applying..." text for image options/tools form */
#applyingText {
    margin-left: 254px;

    /* Let this element have some height (enough to fit one line of text),
       even when there is no text. This'll ensure that when the text appears,
       elements below won't shift, overlap, etc. */
    height: 1em;

    padding: 5px;
}