{% extends "images/base_source.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}Export | CoralNet{% endblock %}

{% block css-includes %}
    {% include "static-local-include.html" with type="css" path="css/visualization.css" %}
{% endblock %}

{% block nav %}
    {{ block.super }}

    <div class="nav_container" id="nav_second_container">
          <ul class="nav nav_right" id="nav_visualize">
            <li><a href="{% url export_statistics source.id %}"><span>{% trans 'Statistics' %}</span></a></li>
            <li><a href="{% url export_statistics source.id %}?robot=true"><span>{% trans 'Statistics With Robots' %}</span></a></li>
            <li><a href="{% url export_annotations source.id %}"><span>{% trans 'Annotations' %}</span></a></li>
            <li><a href="{% url export_annotations source.id %}?robot=true"><span>{% trans 'Annotations With Robots' %}</span></a></li>
            <li><a href="{% url export_abundance source.id %}"><span>{% trans 'Abundance Corr. Statistics' %}</span></a></li>
          </ul>
    </div>

{% endblock %}

{% block content %}
    <legend>Export Tool</legend>
    <br/>
     <p>Welcome to the export tool. You can export data related to your source in two ways, by statistics or annotations. By choosing either export method, all the
    data for the source will be collected and put into a .csv file for you to download. Please note that if your source
    contains a large amount of data, then this export process will be very time consuming, so you may want to leave the
    window open and go have a cup of coffee and a snack. </p>
    <p> Statistics will export the aggregated annotations as fraction of coverage of each labeltype for each image. Annotations will export each individual annotation including row and column information (one annotation per line). Each of these can be exported with our without the "Robots". If you include "Robots", the annotations automatically provided by the system will be also be exported. Else, only human-supplied annotations will be exported.
    </p>
    <p>
    The statistics file will also contain all metadata for each image. The fields should be self-explanatory bar perhaps one, namely "Annotation area". This field specifies the area of the image where the random points are scattered. It can be set globally in the source details ("edit source details" under the Admin tab), OR on an individual image basis (in the image details view). This field will say "imported" if the image uses the global setting. Else, it will contain four integers [min column, max column, min row, max row].
    </p>
<br/>

{% endblock %}
