<h3>Browse Images</h3>

<p>You can browse through all of the source's images here. Use the dropdown
    boxes to specify which images you want to see, then click Search to
    apply those filters.</p>

<p>Use the <strong>Page view</strong> option to see different aspects of the
    source's data:</p>

<ul>
    <li><p><strong>Images</strong>: View the images as a grid of thumbnails.
        20 images are shown per page; below the thumbnail grid, you can
        navigate to a different page.</p>

        <p>You can mouse-over an image thumbnail to see its filename and
        annotation status. The thumbnail's border color also indicates the
        image's annotation status.</p>

        <p>(<i>For source members with Edit or Admin permissions</i>) You can
        also <strong>delete</strong> images using the form at the bottom of
        the page. This function will delete all images in the current search.
        When you click the button to delete the images, a confirmation dialog
        will pop up to reduce the chances of accidental deletion.</p></li>

    <li><p><strong>Metadata</strong> (<i>For source members with
        Edit or Admin permissions</i>): View the images' metadata as a grid of
        text fields. Type in the text fields to edit the metadata, then
        click the Save Edits button below to save your edits.</p>

        <p>You can edit multiple images' metadata at the same time by using
        the checkboxes along the left side. If you check multiple images, and
        then edit the metadata of one of those checked images, those edits
        will be applied to all of the images you've checked. You can also use
        the top checkbox to check or un-check all of the images.</p></li>

    <li><p><strong>Annotation Patches</strong>: Pick a label from the source's
        labelset, then click Search to see image "patches" representing that
        label. Each image patch corresponds to one point in an image that has
        been annotated with that label. You can mouse-over an image patch to
        see which image and which point the patch is from.</p>

        <p>20 image patches are shown per page; below the patch grid, you can
        navigate to a different page.</p></li>
</ul>
