{% extends "images/base_source.html" %}
{% load url from future %}
{% load thumbnail %}
{% load guardian_tags %}
{% load common_tags %}

{% block title %}{{ source.name }} - Browse Images | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_form="yes" jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="js" path="js/VisSearchFormHelper.js" %}
    {% include "static-local-include.html" with type="js" path="js/ImageBatchActionFormHelper.js" %}
    {% include "static-local-include.html" with type="js" path="js/ImageMetadataFormHelper.js" %}
    {% include "static-local-include.html" with type="css" path="css/visualize_source.css" %}
{% endblock %}

{% block content %}

    <legend>Browse Images</legend>

    <div class="tutorial-message">
        {% include "visualization/help_browse.html" %}
    </div>
    
    {# Search form #}
    <form action="" method="get" id="id_search_form" class="box">

      {% with form=searchForm %}

        <div>
          {% include "form_generic_one_field.html" with field=form.page_view dont_mark_required='yes' %}
        </div>

        <div id="id_image_or_metadata_view_fields_wrapper">
        {% for field in form.field_groups.image_or_metadata_view %}
          {% include "form_generic_one_field.html" with field=field dont_mark_required='yes' %}
        {% endfor %}
        </div>

        <div id="id_image_patch_view_fields_wrapper">
        {% for field in form.field_groups.image_patch_view %}
          {% include "form_generic_one_field.html" with field=field dont_mark_required='yes' %}
        {% endfor %}
        </div>

        <div>
        {% for field in form.field_groups.location_values %}
          {% include "form_generic_one_field.html" with field=field dont_mark_required='yes' %}
        {% endfor %}
        </div>

      {% endwith %}
        
      <div class="submit_button_wrapper_center">
        <input type='submit' value="Search">
      </div>
    </form>

    {% if errors %}

        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>

    {% else %}

        {% if page_view == 'images' or page_view == 'patches' %}

            {# Grid of images/patches #}

            {% if page_view == 'images' %}

                {% for image in page_results.object_list %}
                  {% with image_obj=image.image_obj %}
                    <span class="thumb_wrapper">
                    <a href="{% url thumbnail_dest_page image_obj.id %}">
                        <img class="thumb {{ image_obj.get_annotation_status_code }}"
                             src="{% thumbnail image_obj.original_file 150x150 %}"
                             title="{{ image_obj.get_image_element_title }} - {{ image_obj.get_annotation_status_str }}"/>
                    </a>
                    </span>
                  {% endwith %}
                {% endfor %}

            {% else %}  {# 'patches' #}

                {% for patch in page_results.object_list %}
                  {% with image_obj=patch.fullImage %}
                    <span class="thumb_wrapper">
                    <a href="{% url thumbnail_dest_page image_obj.id %}">
                        <img class="thumb"
                             src="{{ MEDIA_URL }}{{ patch.patchPath }}"
                             title="Point {{ patch.pointNum }} ({{ patch.row }},{{ patch.col }}) in: {{ image_obj.get_image_element_title }}"/>
                    </a>
                    </span>
                  {% endwith %}
                {% endfor %}

            {% endif %}


            {# Pagination info and links #}

            <div class="pagination">
                <span>
                    Showing {{ page_results.start_index }}-{{ page_results.end_index }} of {{ page_results.paginator.count }}
                </span>
                <br /><br />
                <span class="step-links">
                    {% if prev_page_link %}
                        <a href="{{ prev_page_link }}">&lt;</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_results.number }} of {{ page_results.paginator.num_pages }}
                    </span>

                    {% if next_page_link %}
                        <a href="{{ next_page_link }}">&gt;</a>
                    {% endif %}
                </span>
            </div>

        {% else %}  {# metadata view #}

            {% include "upload/metadata_form.html" with metadataForm=metadataForm metadataFormWithExtra=metadataFormWithExtra selectAllForm=selectAllForm num_of_total_results=num_of_total_results %}

        {% endif %}


        {% comment %} Image action forms, with functionality such as deleting
        images. The view code checks whether these forms should be shown or
        not. If not, the forms will be None in this template. {% endcomment %}

        {% if has_download_form or has_delete_form %}

            <hr />

            <legend class="small">Batch process these images</legend>

            {# Action select #}

            Select action:

            {% if has_download_form %}
                <input id="id_radio_download" type="radio" name="batch_action" value="download"/>
                <label for="id_radio_download">Download</label>
            {% endif %}
            {% if has_delete_form %}
                <input id="id_radio_delete" type="radio" name="batch_action" value="delete"/>
                <label for="id_radio_delete">Delete</label>
            {% endif %}

            {# Download #}

            {% if has_download_form %}
                <form id="id_download_form" action="{% url 'browse_download' source.id %}" method="post">{% csrf_token %}
                    {% for field in download_form %}
                        {# Should be all hidden fields #}
                        {{ field }}
                    {% endfor %}

                    <input id="id_download_submit" type="submit"
                           value="Download these {{ num_of_total_results }} images"/>
                </form>
            {% endif %}

            {# Delete #}

            {% if has_delete_form %}
                <form id="id_delete_form" action="{% url 'browse_delete' source.id %}" method="post">{% csrf_token %}
                    {% for field in delete_form %}
                        {# Should be all hidden fields #}
                        {{ field }}
                    {% endfor %}

                    <input id="id_delete_submit" type="submit"
                           value="Delete these {{ num_of_total_results }} images"/>
                </form>
            {% endif %}

        {% endif %}

    {% endif %}

    {# Script in the body will run on page load. #}
    <script type="text/javascript">
        BrowseSearchHelper.init({{ source.enable_robot_classifier|jsonify }});

        {% if metadataForm %}
            initMetadataForm({
                metadataSaveAjaxUrl: '{% url 'metadata_edit_ajax' source.id %}'
            });
        {% endif %}

        {% if has_download_form or has_delete_form %}
            BrowseActionHelper.init({
                hasDownloadForm: {{ has_download_form|jsonify }},
                hasDeleteForm: {{ has_delete_form|jsonify }}
            });
        {% endif %}
    </script>

{% endblock %}
