{% extends "visualization/base_visualize.html" %}
{% load thumbnail %}

{% block title %}{{ source.name }} - Visualization | CoralNet{% endblock %}

{% block content %}

    <h2>Browse Images</h2>
    
    <!-- This is the menu to select descriptors to sort through the images -->
    <form action="" method="get">
    <table>
    {{ form.as_table }}
    </table>
    <input type='submit' value="Search">
    </form>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {% for image in images.object_list %}
           {% if image.metadata %}
              {% with metadata=image.metadata %}
                <a href="{% url image_detail source.id image.id %}">
                    {# TODO: Make a grid with reasonable spacing between grid elements. #}
                    <img src="{% thumbnail image.original_file 150x150 %}"
                         title="{{ image.get_image_element_title }}"/>
                </a>
              {% endwith %}
            {% else %}
              {% with fullImage=image.fullImage %}
                <a href="{% url image_detail source.id fullImage.id %}">
                    <img src="{{ MEDIA_URL }}{{ image.patchPath }}"
                         title="Point {{ image.pointNum }} ({{ image.row }},{{ image.col }}) in: {{ fullImage.get_image_element_title }}"/>
                </a>
              {% endwith %}
{#               <img src="{{ MEDIA_URL }}{{ image }}"> <!--Images are file names if in label mode-->#}
            {% endif %}
        {% endfor %}

        <div class="pagination">
            <span>
                Showing {{ images.start_index }}-{{ images.end_index }} of {{ images.paginator.count }}
            </span>
            <br /><br />
            <span class="step-links">
                {% if images.has_previous %}
                    <a href="?{{ searchParamsStr }}&page={{ images.previous_page_number }}">&lt;</a>
                {% endif %}

                <span class="current">
                    Page {{ images.number }} of {{ images.paginator.num_pages }}
                </span>

                {% if images.has_next %}
                    <a href="?{{ searchParamsStr }}&page={{ images.next_page_number }}">&gt;</a>
                {% endif %}
            </span>
        </div>

    {% endif %}

{% endblock %}
