/* @override http://localhost:8000/media/css/master.css */

/*
CSS EXPLANATIONS

border-radius: for making rounded corners; browser support may vary

margin: spacing around the outside of an element.  If specified by 4
 values, it means top right bottom left.  If both left and right have
 a value of auto, then the element is centered horizontally.
*/

/*	WdeB
breadandpepper.com
................................... */

@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);


/*	Main elements
................................... */

html, body{
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    background: #eae5e1 url(../img/bg-container.png) repeat-y center top;
}

#container{
    width: 1008px;
    margin: 30px auto 50px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
	background-color: #f6f4f2;
	border: 1px solid #fff;
	padding: 0 10px;
}

#header{
    /* Consider styling the header here */
}


#content-container{
    padding: 12px;
    position: relative;
}

div.nav_container{
    margin: 20px 20px 20px 20px;
    position: relative;
    height: 40px;
}

/* Positioning for left navigation buttons */
ul.nav_left{
    position: absolute;
    left: 0;
    overflow: auto;
}

/* Positioning for right navigation buttons */
ul.nav_right{
    position: absolute;
    right: 0;
    overflow: auto;
}

ul.nav li{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    /* The border adds shadow around each button, but does not expand the button's clickable area */
    border-width: 1px;
    border-style: solid; 
    border-color: #eee #eee #fff #eee ; 
    -webkit-border-radius: 11px; 
    -moz-border-radius: 11px; 
    border-radius: 11px;
    -webkit-background-clip: padding-box;
}

ul.nav li.text{
    /* No borders for text elements, only for buttons.  For now. */
    border-width: 0;
}

ul.nav li a{
    background: #ede9e4;
    float: left;
    /* The padding adds shadow around each button; it also expands the button's clickable area */
    padding: 4px 4px 3px;
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
}

/* This is for the stuff within a button (background and text) */
ul.nav li a span {
    display: block; 
    color: #686868; 
    padding: 0.52em 1.4em 0.48em;
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;
}

ul.nav li.selected a span {
    color: #000000;
}

ul.nav li a:hover span {
    background-color: #e0dfda;
}

ul.nav li a:active span {
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.62em 1.4em 0.38em;
}

ul.nav li.button_prominent a{
    background: #e8c8c8;
}
ul.nav li.button_prominent a:hover span {
    background-color: #f0b8b8;
}
ul.nav li.button_prominent a:active span {
    background-color: #f0b8b8;
}

#nav_profile li a{
    background: #e8e8b8;
}
#nav_profile li a:hover span {
    background-color: #f0f0a8;
}
#nav_profile li a:active span {
    background-color: #f0f0a8;
}

#nav_messages li a{
    background: #e8d8c0;
}
#nav_messages li a:hover span {
    background-color: #f0e0b0;
}
#nav_messages li a:active span {
    background-color: #f0e0b0;
}



#xtra-info{
    text-align: center;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    text-shadow: #000 -1px -1px 0;
    color: #c1bcb9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background-image: url(../img/trans.png);
	-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
 -moz-box-shadow: 0 -2px 3px #ccc;
    -webkit-box-shadow: 0 -2px 3px #ccc;
    box-shadow: 0 -2px 3px #ccc;
}

#xtra-info a{
	color: #fff;
}

.white-box{
    margin: 15px auto 20px;
    padding: 12px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #efebe8;
    width: 506px;
    -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow:  inset 0 0 3px #999;
    overflow: auto;
}

#details{
    width: 140px;
    margin: 0 0;
    background-color: #fffeff;
    padding: 6px;
    text-align: left;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
}

#details img{
	margin: 0 0 10px;
}

/*	Type
................................... */

h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif; text-transform: uppercase; text-shadow: #ffffff 1px 1px 0px;}

p{
    font-size: 1.0em;
    line-height: 1.5em;
    margin: 0 0 0.9em 0;
    text-shadow: #ffffff 1px 1px 0;
}

.white-box p{
    margin: 0 12px 5px;
    color: #000;
}

h1{
    font-size: 2.2em;
    margin-bottom: 0.6em;
}

h2{
    font-size: 1.4em;
    margin-bottom: 1.0em;
}

h2.content-title{
	font-size: 1.5em;
	margin: 10px;
    padding: 15px 15px 12px;	
    background: #e7e2de no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
    color: #ab292a;
}

/* Smaller text on the same line as the main h2 text. */
h2 span.subheader{
    font-size: 0.7em;
    text-transform: none;
}

.white-box h2{
    width: 482px;
    padding: 5px 12px 6px;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #f1edeb;
    color: #ab292a;
    background-image: none;
}

h3{
    font-size: 1.2em;
    margin: 0 0 5px;
}


h4{
    font-size: 1.2em;
}

h5{
    font-size: 1.0em;
}

h6{
    font-size: 0.7em;
}

a{
    color: #880e00;
    text-decoration: underline;
}

/* a.button: CSS previously used for "Compose Message" and "Reply" buttons for userena Messages */
a.button{ 
    background: #ede9e4; 
	display: block;
	width: 200px;
    padding: 4px 4px 3px; 
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    clear: both;
    position: absolute;
    right: 20px;
    top: -55px;
}

a.button span { 
    display: block; 
    color: #8b0908; 
    padding: 0.52em 1.6em 0.48em;  
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;
	text-align: center;
}



a.button:active span {  
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.58em 1.6em 0.30em;
    line-height: 1.5em;
}

.white-box img{
    float: right;
    border: 3px double #f1edeb;
    padding: 4px;
    background-color: #fff;
    margin: 0 10px;
}

hr.light {
    background-color: #dddddd;
    border: none;
    height: 2px;
}



/*	Forms
................................... */

form {
    margin: 15px auto 20px;
    padding: 12px 0;
    width: 800px;
}

/* The element around the whole form field, containing the label, field, helptext, and errors. */
form p, .form_item_wrapper {
    padding: 3px 0;  /* vertical horizontal*/
    margin: 0;
    overflow: auto;  /* This allows the element to expand for multi-line labels and such */
}

label {
    font-size: 1.0em;
    color: #444;
}

label.column_form_text_field {
    /* inline allows another element to sit to the right of
       this element, and block allows this element to have margins. */
    display: inline-block;
    /* Defining a set width allows all field labels to sit in one "column"
       in the form.  Then we can align the label text to the right side
       of that column. */
    text-align: right;
    width: 250px;

    /* Put the label at the correct vertical alignment (ugh)... */
    vertical-align: top;
    margin-top: 6px;
}

label.grid_checkbox {
    display: inline-block;
    width: 150px;
}


.field_wrapper {
    display: inline-block;
}

/* Checkbox field wrappers contain the checkbox and the label. */

.checkbox_field_wrapper {
    /* Indent by the same amount as a text field's label width */
    margin-left: 250px;
}
.grid_checkbox_field_wrapper {
    /* In an 800-px-wide form, this will create 4 columns of checkboxes. */
    display: inline-block;
    width: 190px;

    /* Separate rows of checkboxes a bit, so that multi-line labels
     * don't run so close to the label of the next row */
    margin: 3px 0;    /* top/bottom left/right */

    /* TODO: Find a way to handle a really long single word in a label.
     * It may happen with species names of corals and stuff. Any nice way
     * to handle text overflow, detect text overflow, or do
     * auto-hyphenation of long words? */
}

input[type=text],input[type=password], input[type=file], textarea, span.editable {
    border: 1px solid #d7d7d7;
    display: inline-block;
    padding: 3px 5px 4px;    /* top left/right bottom */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    font-size: 0.9em;
    color: #000;
}

input[type=checkbox] {
    padding: 14px 0;
    width: 20px;
}

input[type=radio] {
    margin: 0 8px 0 0;
}

/* Dropdown box */
select {
    min-width: 60px;
    margin: 5px 0;    /* top/bottom left/right */

    font-size: 0.9em;
}

input:focus,
textarea:focus,
span.editable:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #4c4c4c;
}

/* Multiline text field */
textarea {
    width: 300px;
    height: 8em;

    margin: 3px 0;    /* top/bottom left/right */
}
textarea.large {
    width: 400px;
    height: 16em;
}

input[type=submit], button.submit {
    height: 35px;
    display: inline;
    line-height: 34px;
    padding: 0 10px;
    margin-top: 4px;
    min-width: 150px;
    background-color: #ab292a;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}

input[type=submit]:active, button.submit:active {
    line-height: 36px;  /* Intended effect is to make the button move a bit as you click it.  May not work the same in FF and Chrome though. */
    background-color: #bd302d;
    border: 1px inset #ce3024;
}

input[type=submit][disabled], button.submit[disabled] {
    line-height: 34px;
    background-color: #666666;
    border: 1px outset #888888;
    cursor: default;
}
/* Don't define a [disabled]:active style, so the disabled submit button doesn't change appearance when you click it */


/* Wrap one or multiple submit buttons of a form. */

.submit_button_wrapper_column_form {
    /* Form where the labels are on the left column and fields are
     * on the right column.
     * Line this up with the fields... */
    margin-left: 254px;
}
.submit_button_wrapper_center {
    /* The buttons go in the center. */
    text-align: center;
}

/* Field errors.  "This field is required", etc. */
ul.errorlist {
    background-color: #fedae0;
    color: #a3181c;
    margin: 3px 0 3px 0;    /* top right bottom left */
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
ul.errorlist li {
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 5px 4px 5px;
    max-width: 250px;
}

.errorlist_wrapper {
    
}

/* Help text for a field (e.g. "No more than 20 characters") */
.helptext {
    display: block;
    line-height: 120%;
    width: 500px;
}

.helptext_small {
    display: block;
    font-size: 0.9em;
    width: 500px;
}

/* For groups of fields */
fieldset {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
}
/* A special header, conventionally for fieldsets */
legend {
    width: auto;
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 1.3em;
    color: #ab292a;
    font-weight: bold;
	text-transform: uppercase;
}
legend.small {
    font-size: 1.2em;
    text-transform: none;
}
legend.smaller {
    padding: 0;
    border: none;
    font-size: inherit;
    color: inherit;
    text-transform: none;
}


/* Special cases */

/* Table rows that can be clicked to toggle form values, like checkboxes.
   Used in the labelset form. */
.checkbox_row td.clickable_cell{
    cursor: pointer;
}
/* Multiple classes like .class1.class2 may not work in IE6 */
.checkbox_row.selected td.clickable_cell{
    background-color: #bbbbdd;
}
.checkbox_row.selected.disabled td.clickable_cell{
    cursor: default;
    background-color: #aaaaaa;
}

/*	Nav
................................... */

#header h1{
    width: 150px;
    height: 112px;
    margin: 0;
}


/* profile-nav was userena's original profile navigation menu -
the menu items looked more like tabs and less like buttons. */
ul#profile-nav{
    height: 40px;
    position: absolute;
    right: 25px;
    top: -47px;
    width: 490px;   
}

ul#profile-nav li{
    margin: 0 0 0 0;
    float: left;
    text-align: center;
}

ul#profile-nav li.selected a{
    color: #111;
    padding: 8px 25px 8px;
    text-decoration: none;
	background-color: #f6f4f2;
	-moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-box-shadow: 0 -1px 1px #ccc;
    -webkit-box-shadow: 0 -1px 1px #ccc;
    box-shadow:  0 -1px 1px #ccc;
    border: 1px solid #fff;
    border-bottom: none;
}



ul#profile-nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    display: block;
    height: 20px;
    line-height: 25px;
    padding: 8px 25px 8px;
    color: #999997;
	text-align: center;
}


ul#profile-nav li a:hover{
    text-decoration: underline;
}

/*	features
................................... */

ul.features {
    overflow: auto;
    margin: 30px -12px 0;
}



ul.features li{
    background: url(../img/stripe.png) repeat-x center top;
    padding: 30px 10px 0 0;
    float: left;
    width: 310px;
    margin: 10px 0 0 12px;
    min-height: 180px;
}   

/*	blocks
................................... */
ul.blocks {
    overflow: auto;
    margin: 40px -12px 0;
}



ul.blocks li{
    background: url(../img/stripe.png) repeat-x center top;
    padding: 30px 0 0;
    float: left;
    width: 237px;
    margin: 10px 0 0 12px;
    text-align: center;
}


/*	footer
................................... */ 
#footer{
    background: url(../img/stripe.png) repeat-x center top;
    padding-top: 5px;
}

#footer p{
    font-size: 0.7em;
    margin-bottom: 0.5em;
}   

#footer p a{
	font-weight: bold;
}

/*	change language
................................... */ 
div#lang_form {
    width: 1008px;
    margin: 0 auto;
    position: relative;
}

div#lang_form p {
    margin: 0;
    padding: 0 0 0 3px;
    font-size: small;
}

div#lang_form select{
    margin: 5px 0 0 ;
}

div#lang_form form {
    position: absolute;
    right: 10px;
    margin: 1px;
    padding: 0;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    background-color: transparent;
    width: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div#lang_form form label{
    color: #676767;
    font-size: 0.7em;
    font-weight: bold;
}


div#lang_form input[type=submit] {
    float: right;
    height: 21px;
    line-height: 34px;
    padding: 0 10px;
    margin: 5px 0 0 10px;
    min-width: 80px;
    background-color: none;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}


/*	notifications
................................... */

#top{
    background-color: #111;
    border-bottom: 1px solid #fff;
}

ul.messages{
    font-size: 0.8em;
    font-weight: bold;
    width: 540px;
    margin: 0 auto;  /* vertical horizontal */
}

ul.messages li{
    background-color: #fcf5d8;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 4px 20px;
    text-align: center;
}

div.maintenance_message {
    background-color: #FFCCCC;

    width: 540px;
    margin: 0 auto;  /* vertical horizontal */
    padding: 4px 20px;

    font-size: 0.9em;
}


/*	messages
................................... */  

#messages{
	padding: 0;
	margin: 20px 0 0;
}

#messages li{
	padding: 15px 10px;
	margin: 0;
	overflow: auto;
}  

#messages li a{
	font-weight: bold;
	display: block;
	margin: 0 0 5px;
	text-decoration: none;
}

#messages.list-view a{
	display: block;
	overflow: auto;
	padding: 10px 0 10px 10px;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
border-radius: 2px;
}

#messages.list-view a:hover{
	background-color: #eee;
}


p.date {
  font-size: 70%;
  margin: 10px 0 0;
  color: #777;
}

.avatar {
  width: 80px;
  border: 1px solid #ccc;
  float: right;
  margin: 0 10px;
}

.avatar.received {
  float: left;
}

.message-content{
	
	margin: 0 110px;
	padding: 15px;
	-moz-border-radius: 2px;
border-radius: 2px;
position: relative;
min-height: 52px;
}

.send .message-content{
	margin: 0 110px;
	background-color: #e6e6e6;
	
}

.received .message-content{
	margin:0 110px;
	background-color: #dadada;
	
}



/*	account list
................................... */    

#account_list{
    margin: 0 0 0 -12px;
    overflow: auto;
}

#account_list li{
    width: 142px;
    margin: 0 0 12px 12px;
    float: left;
    background-color: #fffeff;
    padding: 6px;
    text-align: center;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
}

#account_list li img{
    width: 142px;
    height: 142px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
} 

#account_list li a{
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}   



/*	object list / detail pages
................................... */

/* A list of details (e.g. name, age...) */
ul.detail_list li {
    line-height: 1.8em;
}
/* Multiple lists of details in succession */
div.details ul {
    margin: 25px 0;    /* top/bottom left/right */
}
div.details ul li {
    line-height: 1.8em;
}

/* A list of objects (e.g. source 1, source 2...) */
ul.object_list li {
    line-height: 1.5em;
}

/* Table details
 * (label list page) */
table.detail_table {
    border: 1px solid #999999;
    border-collapse: separate;  /* Firefox seems to make border widths inconsistent if border-collapse: collapse */
}
table.detail_table th,
table.detail_table td {
    border: 1px solid #999999;
    padding: 5px;
}

table.detail_table.horizontal {
    border: none;
    display: inline-block;
}
table.detail_table.horizontal th,
table.detail_table.horizontal td {
    border: none;
    padding: 3px 5px;  /* vertical horizontal */
}

/* thumbnails and thumbnail wrappers
................................... */

span.thumb_wrapper {
    display: inline-block;  /* Allow putting elements side by side + allow block properties like padding, width */
    text-align: center;  /* Horizontally center the element within */

    width: 158px;  /* 150px for the image, 4px+4px for the image border */
    padding: 11px;  /* Total width of 158px+11px+11px = 180px */

    /* Effective height of <max image height in row, including border>+11px+11px */
}

span.thumb_small_wrapper {
    display: inline-block;
    text-align: center;

    width: 100px;
    padding: 10px;  /* Total width of 100px+10px+10px = 120px */

    /* Effective height of <max image height in row, including border>+10px+10px */
}

img.thumb {
    vertical-align: middle;
}
img.thumb.annotated_by_human, img.thumb.annotated {
    border: 4px #00CC00 solid;
}
img.thumb.annotated_by_robot {
    border: 4px #FF9900 solid;
}
img.thumb.needs_annotation {
    border: 4px #CC4444 solid;
}

img.thumb_small {
    vertical-align: middle;  /* This works as long as the thumbnail isn't in a wrapper element... */
}
