#nav_source li a{
    background: #c8c8e8;
}
#nav_source li a:hover span {
    background-color: #b8b8f0;
}
#nav_source li a:active span {
    background-color: #b8b8f0;
}

/* Customize the help dialog contents. This should really go in a site-global
   CSS instead of in here (and in the Upload CSS), so do that at some point. */
.ui-widget {
    /* Override jQuery UI defaults */
    font-family: inherit;
    font-size: 0.9em;
}
.ui-widget ul li {
    /* Make help-dialog lists bulleted */
    list-style-type: disc;
    list-style-position: outside;

    line-height: 1.2em;

    margin: 10px 0 10px 20px;   /* t r b l */
}


