#uploadTable th{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#uploadTable td{
    padding-left: 20px;
    padding-right: 20px;
}

#uploadTable tr.dupe-skip{
    background-color: #cccccc;
}
#uploadTable tr.dupe-skip td.status-cell a,
#uploadTable tr.preupload-dupe-replace td.status-cell a{
    color: green;
}
#uploadTable tr.preupload-error{
    background-color: #ff8888;
}
#uploadTable tr.uploading{
    background-color: #ffff88;
}
#uploadTable tr.upload-error{
    background-color: #ff8888;
}
#uploadTable tr.uploaded{
    background-color: #88ff88;
}
