<h3>After Upload</h3>

<p>After your images are done uploading, you'll be able to continue to another page where
you can manually enter metadata for your images.</p>

{# TODO *Images go here: one of the upload page with the button, one of the next page with the metadata grid* #}



<h3>In Filenames</h3>

<p>Required filename format: {{ field.field.source_specific_filename_format }}</p>

<p>For example, let's say your source has the following location keys: Site, Depth, Transect Line and Quadrant.
If you want to upload a .jpg image that was taken at
Site: sharkPoint, Depth: 10m, Transect Line: 3, and Quadrant: qu4,
on 14 January 2010, the filename for upload should be:</p>

<p>sharkPoint_10m_3_qu4_2010-01-14.jpg</p>

<p>Alternatively, if you also want to store the original filename - say it's
IMG_0032.jpg - you can use:</p>

<p>sharkPoint_10m_3_qu4_2010-01-14_IMG_0032.jpg</p>

<p>The original filename is not used by CoralNet, but could be
useful for your own reference.</p>

<b>Note:</b> the filenames option is currently the only way to upload previously-made points and annotations.



<h3>From CSV File</h3>

<p>You may specify image metadata through a CSV (comma-separated values) file.
(TODO: Details on the required format)</p>