{% comment %}
This is a template that is used to render a form for editing metadata
{% endcomment %}

<form method="post" id="id_metadata_form">{% csrf_token %}
    {{ metadataForm.management_form }}

    {% for field in selectAllForm %}
        {{ field }}
    {% endfor %}

    <div style="overflow:auto;max-height:500px">
        <ul>
            {% for error in metadataForm.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <table id="metadataFormTable" style="white-space:nowrap">
            <tr>
                <th></th> {# This is the checkbox column #}
                <th>Filename</th>
                <th>Status</th>
                <th>Date</th>
                {% for key in key_list %}
                    <th>{{ key }}</th>
                {% endfor %}
                <th>Height (cm)</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Depth</th>
                <th>Camera</th>
                <th>Photographer</th>
                <th>Water Quality</th>
                <th>Strobes</th>
                <th>Framing Gear Used</th>
                <th>White Balance Card</th>

            </tr>
            {% for form, checkbox_form, image, status in metadataFormWithExtra %}
                <tr>
                    {# Checkbox #}
                    {% for field in checkbox_form %}
                        <td>{{ field }}</td>
                    {% endfor %}

                    <td>
                        {# Name / filename #}
                        <a href="{% url image_detail image.id %}">{{ image.metadata.name }}</a>

                        {# Image id (hidden, and piggybacking in one of the #}
                        {# td elements, because td/th are the only elements #}
                        {# that should be immediate children of a tr) #}
                        {{ form.imageId }}
                    </td>

                    {# Annotation status #}
                    <td id="status" style="padding: 0 10px 0 10px">{{ status }}</td>

                    {# Editable metadata fields #}
                    {% for field in form %}
                        {% if field.name != 'imageId' %}
                            <td>{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <button type="button" class="submit" id="id_metadata_form_save_button">
        Save Edits
    </button>
    <span id="id_metadata_save_status"></span>
    <ul id="id_metadata_errors_list"></ul>

</form>
