{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}CoralNet{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="description" content="Coral Research in the 21st century" />
    <meta name="keywords" content="corals, research, annotation, UCSD, University of California San Diego, open source" />
    <meta name="author" content="UCSD CVCE" />

    {% include "static-local-include.html" with type="css" path="css/master.css" %}
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    {% comment %}
    Multi-purpose CSS includes (CSS used on multiple pages) can go here.
    {% endcomment %}
    {% block css-includes %}{% endblock %}

    {% comment %}
    General-purpose JS includes can go here.
    {% endcomment %}
    {% block js-includes %}
        {% include "javascript-includes.html" %}
    {% endblock %}

    {% comment %}
    Page-specific CSS and JS includes can go here.
    {{ form.media }} for example.
    {% endcomment %}
    {% block page-specific-includes %}{% endblock %}

    {% comment %}
    Page-specific CSS code can go here.
    (Though it's often better to include an external .css instead, especially if it's more than a few CSS rules.).
    {% endcomment %}
    {% block css-code %}{% endblock %}

    {% comment %}
    Page-header JavaScript functions can go here.
    (Though it's often better to include an external .js instead).
    {% endcomment %}
    {% block javascript-functions %}{% endblock %}

  </head>
  <body>
    <div id="top">
      {% include "maintenance_notice.html" %}

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaksbr }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
 
    <div id="container">

      <div id="header">

      </div><!-- /header -->

      <div id="content-container">
        {% block content %}{% endblock %}
      </div><!-- /content-container-->

      <div id="footer">
        <div class="nav_container" id="nav_footer_container">
          <ul class="nav nav_left" id="nav_footer">
            <li><a href="{% url about %}"><span>{% trans 'About' %}</span></a></li>
            <li><a href="{% url contact %}"><span>{% trans 'Contact Us' %}</span></a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url feedback_form %}?ref={{ request.get_full_path }}"><span>{% trans 'Site Feedback' %}</span></a></li>
            {% endif %}
          </ul>
        </div>
        {% block footer_extra %}{% endblock %}
      </div><!-- /footer -->
    
    </div><!-- /container -->
  </body>
</html>
