{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% block title %}CoralNet{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Coral Research in the 21st century" />
    <meta name="keywords" content="corals, research, annotation, UCSD, University of California San Diego, open source" />
    <meta name="author" content="UCSD CVCE" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/master.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    {% comment %}
    CSS or JS includes, or stuff like {{ form.media }}, can go here. -Stephen
    {% endcomment %}
    {% block media-includes %}{% endblock %}

    {% comment %}
    Page-header JavaScript functions can go here.
    (Though it's often better to include an external .js instead). -Stephen
    {% endcomment %}
    {% block javascript-functions %}{% endblock %}

  </head>
  <body>
    <div id="top">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

 
    <div id="container">	
      <div id="header">

        {% block nav %}
        <ul class="nav" id="nav_main">
          <li><a href="{% url index %}"><span>{% trans 'Home' %}</span></a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url userena_profile_list %}"><span>{% trans 'All profiles' %}</span></a></li>
          <li><a href="{% url userena_umessages_list %}"><span>{% trans 'Messages' %}</span></a></li>
          <li><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a></li>
          <li><a href="{% url userena_signout %}"><span>{% trans 'Signout' %}</span></a></li>
          {% else %}
          <li><a href="{% url userena_signin %}"><span>{% trans 'Signin' %}</span></a></li>
          <li><a href="{% url userena_signup %}"><span>{% trans 'Signup' %}</span></a></li>
          {% endif %}
        </ul>
        {% endblock %}
        {% if not user.is_authenticated %}
        <div id="try"></div>
        {% endif %}

      </div>
      <div id="content-container">
        {% block content %}{% endblock %}
      </div><!-- /content-container-->
    </div>
  </body>
</html>
