{% if not dont_show_help_text %}

    {# Regular help text is always visible. #}
    {% if field.help_text %}
        <div class="helptext_small" id="id_{{ field.name }}_help_text">{{ field.help_text|linebreaksbr }}</div>
    {% endif %}

    {# Extra help text is initially hidden, and can be shown by clicking "(More info)". #}
    {# The form page needs to implement the Javascript to make this work. #}
    {% if field.field.extra_help_text %}
        <a class="extra_help_text_link" id="id_{{ field.name }}_extra_help_text_link">(More info)</a>
        <div class="helptext_small extra_help_text" id="id_{{ field.name }}_extra_help_text">{{ field.field.extra_help_text|linebreaksbr }}</div>
    {% endif %}

    {# Dialog help text can be shown in a modal dialog by clicking a button. #}
    {% if field.field.dialog_help_text_template %}
        <div class="tutorial-message">
            {% include field.field.dialog_help_text_template with field=field %}
        </div>
    {% endif %}

{% endif %}
