{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

{{ form.non_field_errors }}
{% for field in form %}
    <div class="form_item_wrapper" id="id_{{ field.name }}_wrapper">
        <label for="{{ field.id_for_label }}">
            {% if field.field.required %} <span style="color:red;"> * </span> {% endif %}
            {{ field.label }}:
        </label>

        <div class="field_wrapper">
            {{ field }}
            <div class="errorlist_wrapper">{{ field.errors|safe }}</div>  {# Allow HTML; some error messages may have links, etc. #}
            {% if field.help_text %}
              <div class="helptext">{{ field.help_text|linebreaksbr }}</div>
            {% endif %}
        </div>
    </div>
{% endfor %}
