{% comment %}
This form template is meant to be used with the "include" template tag.

The pattern "with var1=var1" is redundant in an include statement,
since an included template is rendered with the context of the template
that's including it.  But the with statement's there for code clarity.
{% endcomment %}

{{ form.non_field_errors }}
{% for field in form %}
    {% include "form_generic_one_field.html" with field=field dont_mark_required=dont_mark_required dont_show_help_text=dont_show_help_text %}
{% endfor %}
