{% comment %}
This template has includes of general-purpose Javascript files.

It puts the includes in the right order, so this should be the only place
where we worry about dependencies between general-purpose includes.

For any include preceded by "if varname", set varname to any value
(except the empty string) to include that file.  Otherwise, the file
will not be included.

For any include preceded by "if not varname", that file will be
included by default.  If you don't want to include the file, set varname
to any value (except the empty string) to not include it.
{% endcomment %}

{% load dajaxice_templatetags %}
{% load common_tags %}


{# Dajaxice, for Ajax support #}
{% if dajaxice %}
    {# TODO: This needs a version bump every time an ajax function is added, to combat browser caching. This is not gonna work very well. #}
    {% dajaxice_js_import "js/dajaxice.core.js?version=ajaxsavesettings" %}
{% endif %}

{# jQuery, general purpose JS library #}
{% if not no_jquery %}
    {# jQuery from Google APIs.  Why: http://encosia.com/3-reasons-why-you-should-let-google-host-jquery-for-you/ #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    {# If can't connect to Google APIs (offline development, etc.), can fall back to a copy of jQuery from within our project. Source: http://community.mybb.com/thread-83861-post-611152.html#pid611152 #}
    <script>
    if (!window.jQuery)
        document.write('<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"><\/script>');
    </script>
{% endif %}

{# jQuery UI, jQuery's library for UI elements #}
{# http://jqueryui.com/ #}
{# Must be included after: jQuery #}
{% if jquery_ui %}
    {# jQuery UI from Google APIs.  #}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />

    {# If can't connect to Google APIs (offline development, etc.), can fall back to our own copy of jQuery UI. #}
    <script>
    if (!jQuery.ui) {
        document.write('<script src="{{ STATIC_URL }}js/jquery-ui.min.js" type="text/javascript"><\/script>');
        document.write('<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/jquery-ui.css" />');
    }
    </script>
{% endif %}

{# jQuery.hotkeys, for pages with keyboard controls #}
{# https://github.com/jeresig/jquery.hotkeys #}
{# Must be included after: jQuery #}
{% if jquery_hotkeys %}
    {% include "static-local-include.html" with type="js" path="js/jquery.hotkeys.js" %}
{% endif %}

{# Our own utility functions and plugin modifications. #}
{# Not just for JS-heavy pages, but also for some basic styling. #}
{# Must be included after: Dajaxice, jQuery #}
{% if not no_util %}
    {% include "static-local-include.html" with type="js" path="js/util.js" %}
{% endif %}