{% extends "images/base_image.html" %}
{% load thumbnail %}

{% block title %}Edit Annotation Area | CoralNet{% endblock %}

{% block page-specific-includes %}
    {% include "form_media_versioned.html" with form=annotationAreaForm %}
{% endblock %}

{% block css-code %}
    <style type="text/css">
        #annoarea_box {
            position: absolute;
            border: 4px solid #FFFF00;
            width: 500px;
            height: 500px;
        }
        #image {
            position: absolute;
            border: 4px solid transparent;
            width: {{ image_display_size.0 }}px;
            height: {{ image_display_size.1 }}px;
        }
        #image_container {
            position: relative;
            border: 4px solid transparent;
            width: {{ image_display_size.0 }}px;
            height: {{ image_display_size.1 }}px;
        }
    </style>
{% endblock %}

{% block content %}

    <legend>Edit Annotation Area</legend>

    <form action="" method="post">{% csrf_token %}
        <span class="helptext">{{ annotationAreaForm.form_help_text|linebreaksbr }}</span>
        {% include "annotations/form_annotation_area.html" with form=annotationAreaForm type="pixel" %}

        <div class="submit_button_wrapper_column_form">
            <input type="submit" value="Save Changes" />
            <input name="cancel" type="submit" value="Cancel Changes" />
        </div>
    </form>

    <div id="image_container">
        <img id="image" src="{% thumbnail image.original_file image_display_size %}" />
        <img id="annoarea_box" />
    </div>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">
        AAH.init({{ scale_factor }});
    </script>

{% endblock %}
