<div class="help_section">
    <span class="help_header">Compatibility</span>
    <table class="detail_table">
        <tr>
            <th>Windows</th><th>Mac</th><th>Linux</th>
        </tr>
        <tr>
            <td>OK</td><td>OK</td><td>Unknown</td>
        </tr>
    </table>
    <br/>
    <table class="detail_table">
        <tr>
            <th>Firefox</th><th>Chrome</th><th>Safari</th><th>IE</th><th>Opera</th>
        </tr>
        <tr>
            <td>OK</td><td>OK</td><td>OK</td><td>Unknown</td><td>Possible keyboard issues</td>
        </tr>
    </table>
</div>

<div class="help_section">
    <span class="help_header">Basics</span>

    <p>This is a point-count image annotation tool.</p>

    <p>The image shows the locations of the points.
        The points are colored depending on their status:
        unannotated, machine-annotated, human-annotated, or selected.</p>

    <p>The text field list on the right show the current labels for each point.</p>
        <ul>
        <li>If the label is in black text, the point is human-annotated. Once all points
        are human-annotated and saved, you'll see an "ALL DONE" indicator below the list, indicating
        that you are done annotating the image.</li>
        <li>If the label is in <span style='color:#888888'>gray text</span>,
        the point is machine-annotated. Machine labels are just there to give you
        guidance; you need to confirm these labels (thus making them human-annotated)
        before they are counted in your source's statistics.</li>
        </ul>
</div>

<div class="help_section">
    <span class="help_header">Selecting a point to label</span>
    <ul>
        <li>Click on one of the text fields on the right, or <kbd>Shift</kbd>-click on the image to select a point.</li>
        <li>Press the <kbd>.</kbd> key to go to the first point needing annotation.</li>
        <li>Move to the next or previous point with <kbd>Tab</kbd> and <kbd>Shift</kbd>+<kbd>Tab</kbd>.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Labeling the chosen point</span>
    <p>Once you have chosen a point, a text field will appear over the image.
        Type a label code in this text field and hit
        <span class='key_non_mac'><kbd>Enter</kbd></span><span class='key_mac'><kbd>Return</kbd></span>
        to confirm it.</p>
    <p>If you have machine annotations enabled in your Settings and your source,
        you may see a list of ranked machine suggestions along with probability scores
        (for example, "Favia [25%]") before you even start typing. From here, you can
        either pick a suggestion or just start typing your own label. Note that if you
        want to pick the first suggestion (the same as the light gray text), all you
        have to do is hit
        <span class='key_non_mac'><kbd>Enter</kbd></span><span class='key_mac'><kbd>Return</kbd></span>
        .</p>
    <p>Alternatively, below the image is a grid of label buttons; there's one button for each
        label in your Source's labelset. You can label the current point by
        clicking the corresponding button.</p>
</div>

<div class="help_section">
    <span class="help_header">Saving your work</span>
    <p>To save your work, click the "Save Progress" button on the lower right, or hit
        <span class='key_non_mac'><kbd>Ctrl</kbd>+<kbd>S</kbd></span>
        <span class='key_mac'><kbd>Cmd</kbd>+<kbd>S</kbd></span>.
        There are two cases where you won't be able to save:</p>
        <ul>
            <li>When no changes have been made. In this case, the button text
                will say "Saved".</li>
            <li>In certain circumstances, a point may somehow get labeled with
                an invalid label code. In this case, the button text will say "Error".</li>
        </ul>
</div>

<div class="help_section">
    <span class="help_header">Selecting multiple points</span>
    <ul>
        <li>Select multiple points by
            <span class='key_non_mac'><kbd>Ctrl</kbd>-clicking</span>
            <span class='key_mac'><kbd>Cmd</kbd>-clicking</span>
            the points on the image.</li>
        <li>You may also click the numbers next to the text field list.</li>
        <li>For some quick select options, use these buttons on the upper right:
            <img src="/static/img/Icon_select-none.png"/>,
            <img src="/static/img/Icon_select-unannotated.png"/>,
            and <img src="/static/img/Icon_select-inversion.png"/>.
            Hover your mouse over them to see what they do.</li>
        <li>To use the rectangle select <img src="/static/img/Icon_rectangle-select.png"/> tool,
            click the rectangle select icon, then click and drag on the image to
            draw a rectangle. The points contained in that rectangle will be added
            to your current selection.</li>
        <li>Once multiple points are selected, you can assign a label to them
            in the same ways as before: by typing in the text field, picking
            a suggestion, or clicking a label button.</li>
        <li>Note: Selecting multiple points will give you more accurate
            machine suggestions!</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Getting a better look at a point</span>
    <ul>
        <li>To zoom in, left-click on the image or press <kbd>Shift</kbd>+<kbd>&uarr;</kbd>.</li>
        <li>To zoom out,
            <span class='key_non_mac'>right-click</span><span class='key_mac'><kbd>Ctrl</kbd>-click</span>
            on the image or press <kbd>Shift</kbd>+<kbd>&darr;</kbd>.</li>
        <li>You can also zoom with these buttons on the upper right:
            <img src="/static/img/Icon_zoom-in.png"/>,
            <img src="/static/img/Icon_zoom-out.png"/>,
            and <img src="/static/img/Icon_zoom-fit.png"/>.</li>
        <li>To toggle between different point display modes, use these buttons on the upper right:
            <img src="/static/img/Icon_point-mode-all.png"/>,
            <img src="/static/img/Icon_point-mode-selected.png"/>,
            and <img src="/static/img/Icon_point-mode-none.png"/>.
            Hover your mouse over them to see what they do.</li>
        <li>If the text field on the image is getting in the way, you can move it to
            a different location by pressing <kbd>Shift</kbd>+<kbd>&rarr;</kbd>.
            Press these keys again to move it back.</li>
        <li>There are two ways to adjust the Brightness and Contrast values:
            use the sliders, or type a value in the text field.
            Click "Apply" to apply the new values.
            Click "Reset" to reset both to 0.</li>
        <li>There are various Settings (see below) that can make it easier
            for you to find points, and see what's under a point. You can
            customize point colors, point marker shapes, and the sizes of
            point markers and numbers.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Navigate to another image</span>
    <ul>
        <li>The bottom-right part of the annotation tool has links to
            navigate between images.</li>
        <li>To navigate to the next image needing annotation,
            click "Go to next image".</li>
        <li>The annotation tool tracks your navigation history as you go between images,
            similar to an internet browser.
        <li>To navigate back in this history, click "Back".</li>
        <li>To navigate forward, click "Forward".</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Settings</span>
    <ul>
        <li>To open the annotation tool settings,
            click the "Settings" button at the top.</li>
        <li>Remember to Save any settings that you want to keep.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">See also</span>
    <ul>
        <li>For more keyboard shortcuts and a shorter summary of controls,
            click the "Controls" button at the top.</li>
    </ul>
</div>