<div class="help_section">
    <span class="help_header">Compatibility</span>
    <table class="detail_table">
        <tr>
            <th>Windows</th><th>Mac</th><th>Linux</th>
        </tr>
        <tr>
            <td>OK</td><td>Needs testing</td><td>Needs testing</td>
        </tr>
    </table>
    <br/>
    <table class="detail_table">
        <tr>
            <th>Firefox</th><th>Chrome</th><th>Safari</th><th>IE</th><th>Opera</th>
        </tr>
        <tr>
            <td>OK</td><td>OK</td><td>Needs testing</td><td>Unknown</td><td>Possible keyboard issues</td>
        </tr>
    </table>
</div>

<div class="help_section">
    <span class="help_header">Basics</span>

    <p>The text fields on the right show the current labels for each point.<br/>
        If the text in the field is in black, the point is human-annotated.  Once all points
        are human-annotated, annotation for the image is finished.<br/>
        If the text is in <span style='color:#888888'>gray</span>,
        the point is robot-annotated and needs to be confirmed by a human annotator.<br/>
        If the field background is in <span style='background-color:#FFCCCC'>red</span>,
        the text is not a valid label code and needs to be changed.</p>

    <p>The image shows the locations of the points.
        By default, different colors distinguish between unannotated and
        robot-annotated points, human-annotated points, and selected points.
        You can change the color settings to display robot-annotated points
        in a different color, as well.</p>
</div>

<div class="help_section">
    <span class="help_header">Choosing a point to label</span>
    <ul>
        <li>Click in one of the text fields on the right.</li>
        <li>Move to the next or previous point's text field with the <kbd>&darr;</kbd> and <kbd>&uarr;</kbd> arrow keys.</li>
        <li>You can also <kbd>Shift</kbd>-click on the image to select a point.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Labeling the chosen point</span>
    <ul>
        <li>Below the image is a grid of label buttons - there's one button for each label in your Source's labelset.
            Click the button corresponding to the label you want to use.</li>
        <li>You may also type the label code directly into the text field.</li>
        <li>You may hold <kbd>Ctrl</kbd> and use the arrow keys
            <kbd>&larr;</kbd> <kbd>&rarr;</kbd> <kbd>&uarr;</kbd> <kbd>&darr;</kbd>
            to choose a label by navigating the button grid.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Confirming or changing a label</span>
    <ul>
        <li>Press <span class='key_non_mac'><kbd>Enter</kbd></span><span class='key_mac'><kbd>Return</kbd></span> to confirm a robot-annotated label and move onto the next point.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Saving your work</span>
    <ul>
        <li>To save your work, click the "Save Progress" button on the lower right, or hit
            <span class='key_non_mac'><kbd>Ctrl</kbd>+<kbd>S</kbd></span>
            <span class='key_mac'><kbd>Cmd</kbd>+<kbd>S</kbd></span>.
            There are two cases where you won't be able to save:
            <ul>
                <li>When no changes have been made.  In this case, the button text will be "Saved".</li>
                <li>When any point is labeled with an invalid label code.  In this case, the button text will be "Error".</li>
            </ul>
        </li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Selecting and labeling multiple points</span>
    <ul>
        <li>Select multiple points by
            <span class='key_non_mac'><kbd>Ctrl</kbd>-clicking</span>
            <span class='key_mac'><kbd>Cmd</kbd>-clicking</span>
            the points on the image.</li>
        <li>You may also click the numbers next to the text fields.</li>
        <li>For more multi-select options, use these buttons on the upper right:
            <img src="/static/img/Icon_select-none.png"/>,
            <img src="/static/img/Icon_select-unannotated.png"/>,
            and <img src="/static/img/Icon_select-inversion.png"/>.</li>
        <li>Once multiple points are selected, label them all by clicking a label button.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Getting a better look at a point</span>
    <ul>
        <li>To zoom in, left-click on the image or press <kbd>Shift</kbd>+<kbd>&uarr;</kbd>.</li>
        <li>To zoom out, <span class='key_non_mac'>right-click</span><span class='key_mac'><kbd>Ctrl</kbd>-click</span> on the image or press <kbd>Shift</kbd>+<kbd>&darr;</kbd>.</li>
        <li>You can also zoom with these buttons on the upper right:
            <img src="/static/img/Icon_zoom-in.png"/>,
            <img src="/static/img/Icon_zoom-out.png"/>,
            and <img src="/static/img/Icon_zoom-fit.png"/>.</li>
        <li>To toggle between different point display modes, use these buttons on the upper right:
            <img src="/static/img/Icon_point-mode-all.png"/>,
            <img src="/static/img/Icon_point-mode-selected.png"/>,
            and <img src="/static/img/Icon_point-mode-none.png"/>.</li>
        <li>There are two ways to adjust the Brightness and Contrast values:
            use the sliders, or type a value in the text field.
            Click Apply to apply the new values.
            Click Reset Parameters to reset both to 0.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Navigate to another image</span>
    <ul>
        <li>The bottom-right part of the annotation tool has links to
            navigate between images.</li>
        <li>To navigate to the next image needing annotation, click "Go to next image",
            or press <kbd>g</kbd> and then <kbd>n</kbd>.</li>
        <li>The annotation tool tracks your navigation history as you go between images,
            similar to an internet browser.
        <li>To navigate back in this history, click "Back",
            or press <kbd>g</kbd> and then <kbd>b</kbd>.</li>
        <li>To navigate forward, click "Forward",
            or press <kbd>g</kbd> and then <kbd>f</kbd>.</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Settings</span>
    <ul>
        <li>To open the annotation tool settings,
            click the Settings button (next to the Help/Controls button).</li>
    </ul>
</div>