{% extends "images/base_image.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}Annotation Tool | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with dajaxice="yes" jquery_hotkeys="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/annotation_tool.css" %}
    {% include "static-local-include.html" with type="js" path="js/AnnotationToolHelper.js" %}
{% endblock %}

{% block content %}

<button id="id_button_show_instructions">Help/Controls</button>

<div id="id_instructions_wrapper" style="display:none">
  <button id="id_button_hide_instructions">Hide Help</button>

  <hr/>

  <p>The text fields on the right show the current labels for each point.
      If the text is in <span style='color:#888888'>gray</span>,
      the point is robot-annotated and needs to be confirmed by a human annotator.
      If the background is in <span style='background-color:#FFCCCC'>red</span>,
      the text is not a valid label code and needs to be changed.</p>

  <p>The image shows the locations of the points.
      Unannotated points are in <span style='color:#8888FF'>blue</span>,
      annotated points are in <span style='color:#FFFF00; background-color:#888888'>yellow</span>,
      and selected points are in <span style='color:#00FF00'>green</span>.</p>

  <div class="help_section">
      <span class="help_header">Choosing a point to label</span>
      <ul>
          <li>Click in one of the text fields on the right.</li>
          <li>Move to the next or previous point's text field with the <kbd>&darr;</kbd> and <kbd>&uarr;</kbd> arrow keys.</li>
      </ul>
  </div>

  <div class="help_section">
      <span class="help_header">Labelling the chosen point</span>
      <ul>
          <li>Below the image is a grid of label buttons - there's one button for each label in your Source's labelset.
              Click the button corresponding to the label you want to use.</li>
          <li>You may also type the label code directly into the text field.</li>
      </ul>
  </div>

  <div class="help_section">
      <span class="help_header">Confirming or changing a label</span>
      <ul>
          <li>Press <span class='key_non_mac'><kbd>Enter</kbd></span><span class='key_mac'><kbd>Return</kbd></span> to confirm a robot-annotated label and move onto the next point.</li>
          <li>Hold <kbd>Ctrl</kbd> and use the arrow keys <kbd>&larr;</kbd> <kbd>&rarr;</kbd> <kbd>&uarr;</kbd> <kbd>&darr;</kbd> to quickly choose a different label from the button grid.</li>
      </ul>
  </div>

  <div class="help_section">
      <span class="help_header">Saving your work</span>
      <ul>
          <li>Click the "Save Progress" button on the lower right to save your work.
              There are two cases where you won't be able to save:
              <ul>
                  <li>When no changes have been made.  In this case, the button text will be "Saved".</li>
                  <li>When any point is labelled with an invalid label code.  In this case, the button text will be "Error".</li>
              </ul>
          </li>
      </ul>
  </div>

  <div class="help_section">
      <span class="help_header">Selecting and labelling multiple points</span>
      <ul>
          <li>Select multiple points by <span class='key_non_mac'><kbd>Ctrl</kbd>-clicking</span><span class='key_mac'><kbd>Cmd</kbd>-clicking</span> the points on the image.</li>
          <li>You may also click the numbers next to the text fields.</li>
          <li>For more multi-select options, use these buttons on the upper right:
              <img src="/static/img/Icon_select-none.png"/>,
              <img src="/static/img/Icon_select-unannotated.png"/>,
              and <img src="/static/img/Icon_select-inversion.png"/>.</li>
          <li>Once multiple points are selected, label them all by clicking a label button.</li>
      </ul>
  </div>

  <div class="help_section">
      <span class="help_header">Getting a better look at a point</span>
      <ul>
          <li>To zoom in, left-click on the image or press <kbd>Shift</kbd>+<kbd>&uarr;</kbd>.</li>
          <li>To zoom out, <span class='key_non_mac'>right-click</span><span class='key_mac'><kbd>Ctrl</kbd>-click</span> on the image or press <kbd>Shift</kbd>+<kbd>&darr;</kbd>.</li>
          <li>You can also zoom with these buttons on the upper right:
              <img src="/static/img/Icon_zoom-in.png"/>,
              <img src="/static/img/Icon_zoom-out.png"/>,
              and <img src="/static/img/Icon_zoom-fit.png"/>.</li>
          <li>To toggle between different point display modes, use these buttons on the upper right:
              <img src="/static/img/Icon_point-mode-all.png"/>,
              <img src="/static/img/Icon_point-mode-selected.png"/>,
              and <img src="/static/img/Icon_point-mode-none.png"/>.</li>
      </ul>
  </div>

  <hr/>
</div>

<div>
    <div id="mainColumn">
      <div id="annotationArea">

        <!-- HTML5 canvas element for drawing points -->
        <canvas id="pointsCanvas"></canvas>

        <div id="imageArea">

          <!-- The coral image  -->
          <img id="coralImage" src="{{ image.original_file.url }}" />

          <!-- Dummy element for listening to mouseclicks, etc. -->
          <div id="listenerElmt"></div>

        </div>
          
      </div>

      <div id="labelButtons">
        {% for label in labels %}
            <button>{{ label.code }}</button>
        {% endfor %}
      </div>
    </div>

    <div id="rightSidebar">

     <div id="toolButtonArea">
         <input class="zoomButton" type="image"
                id="zoomInButton" src="/static/img/Icon_zoom-in.png" title="Zoom in"/>
         <input class="zoomButton" type="image"
                id="zoomOutButton" src="/static/img/Icon_zoom-out.png" title="Zoom out"/>
         <input class="zoomButton" type="image"
                id="zoomFitButton" src="/static/img/Icon_zoom-fit.png" title="Zoom all the way out"/>
         <br/>
         
         <input class="pointModeButton" type="image"
                id="pointModeButtonAll" src="/static/img/Icon_point-mode-all.png" title="Show all points"/>
         <input class="pointModeButton" type="image"
                id="pointModeButtonSelected" src="/static/img/Icon_point-mode-selected.png" title="Show selected points only"/>
         <input class="pointModeButton" type="image"
                id="pointModeButtonNone" src="/static/img/Icon_point-mode-none.png" title="Hide all points"/>
         <br/>

         <input class="quickSelectButton" type="image"
                id="quickSelectButtonNone" src="/static/img/Icon_select-none.png" title="Un-select all points"/>
         <input class="quickSelectButton" type="image"
                id="quickSelectButtonUnannotated" src="/static/img/Icon_select-unannotated.png" title="Select all unannotated points"/>
         <input class="quickSelectButton" type="image"
                id="quickSelectButtonInvert" src="/static/img/Icon_select-inversion.png" title="Invert current selections"/>
     </div>

     <form id="annotationForm"
          action="" method="post">{% csrf_token %}

      {% for field in form.hidden_fields %}
          {{ field }}
      {% endfor %}

      <div id="annotationList">

        <table>

        {% for field in form.visible_fields %}
          <tr>
            <td class="annotationFormLabelCell">
                <span class="annotationFormLabel">{{ field.label }}</span>
            </td>
            <td>
                {{ field }}
            </td>
          </tr>
        {% endfor %}
        
        </table>

      </div>

      <!-- type="button" ensures that the button doesn't do a non-Ajax form submit -->
      <button id="saveButton" type="button">Save progress</button>

      <div id="allDone"></div>

     </form>

    </div>

    <!--
    Column layouts work best when each column can float left - but at the same time,
    there needs to be one column at the end that doesn't float, so it can take up page space,
    which ensures that the page footer appears below everything.
    This column exists for this sole purpose.
    -->
    <div id="dummyColumn"></div>

</div>

<ul class="detail_list">
  <li>Image: {{ metadata.name }}</li>
  <li>Location keys: {{ image.get_location_values_str|default:"(Unknown)" }}</li>
  <li>Year: {{ metadata.photo_date.year|default:"(Unknown)" }}</li>
  <li>Annotation points: {{ image.point_gen_method_display }}</li>
  <li>Annotation area: {{ image.annotation_area_display|default:"(Not specified)" }}</li>
</ul>
    

<!-- Script in the body will run on page load. -->
<script type="text/javascript">
    // Initialize the Annotation Tool Helper (ATH) object.
    ATH.init({{ image.original_height }},
             {{ image.original_width }},
             {{ annotationsJSON|safe }},
             {{ labelsJSON|safe }});
</script>

{% endblock %}
