{% extends "images/base_image.html" %}
{% load thumbnail %}

{% block title %}Edit Annotation Area | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "form_media_versioned.html" with form=annotationAreaForm %}
{% endblock %}

{% block content %}

    <legend>Edit Annotation Area</legend>

    <form action="" method="post">{% csrf_token %}
        <span class="helptext">
            {{ annotationAreaForm.form_help_text|linebreaksbr }}<br />
            Image dimensions: {{ image.original_width }} x {{ image.original_height }}
        </span>
        {% include "annotations/form_annotation_area.html" with form=annotationAreaForm type="pixel" %}

        <div class="submit_button_wrapper_column_form">
            <input type="submit" value="Save Changes" />
            <input name="cancel" type="submit" value="Cancel Changes" />
        </div>
    </form>

    <div id="image_container">
        <img id="image" src="{% thumbnail image.original_file display_dimensions %}" />
        <div id="annoarea_box"></div>
    </div>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">
        AAH.init({{ scale_factor }},
                 {{ dimensions|safe }});
    </script>

{% endblock %}
