{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load guardian_tags %}
{% load common_tags %}

{% block title %}Annotation Tool | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with dajaxice="yes" jquery_ui="yes" jquery_hotkeys="yes" pixastic="yes" util_forms="yes" layouts="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/annotation_tool.css" %}
    {% include "static-local-include.html" with type="js" path="js/AnnotationToolHelper.js" %}

    {% include "form_media_versioned.html" with form=settings_form %}
    {% include "form_media_versioned.html" with form=image_options_form %}
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}


{% comment %}
<button id="id_button_show_instructions" style="display:none">Help/Controls</button>

<div id="id_instructions_wrapper" style="display:none">
    <button id="id_button_hide_instructions">Hide Help</button>

    <hr/>

    {% include "annotations/annotation_tool_help.html" %}

    <hr/>
</div>
{% endcomment %}

{% comment %}
<button id="id_button_show_settings" style="display:none">Settings</button>

<div id="id_settings_wrapper" style="display:none">
    <button id="id_button_hide_settings">Hide Settings</button>

    <hr/>

    {% include "annotations/annotation_tool_settings.html" with settings_form=settings_form %}

    <hr/>
</div>
{% endcomment %}

{% comment %}
<button id="id_button_show_image_tools" style="display:none">Image Tools</button>

<div id="id_image_tools_wrapper" style="display:none">
    <button id="id_button_hide_image_tools">Hide Image Tools</button>

    <hr/>

    {% include "annotations/annotation_image_options.html" with image_options_form=image_options_form %}

    <hr/>
</div>
{% endcomment %}

<div id="annotation-tool"></div>

{# The following elements will be dynamically put in the annotation-tool div. #}

{# annotationArea's percentage height only works when mainColumn has a specified height. #}
<div id="annotationArea">
    <canvas id="pointsCanvas"></canvas>
    <div id="imageArea">
      <canvas id="imageCanvas"></canvas>
      <div id="listenerElmt"></div>
    </div>
</div>

<div id="label-button-area">
    <table id="label-button-table"></table>
</div>

<div id="toolButtonArea">
    {% comment %}
    <input class="zoomButton" type="image"
           id="zoomInButton" src="/static/img/Icon_zoom-in.png" title="Zoom in"/>
    <input class="zoomButton" type="image"
           id="zoomOutButton" src="/static/img/Icon_zoom-out.png" title="Zoom out"/>
    <input class="zoomButton" type="image"
           id="zoomFitButton" src="/static/img/Icon_zoom-fit.png" title="Zoom all the way out"/>
    <br/>
    {% endcomment %}

    <input class="pointModeButton" type="image"
           id="pointModeButtonAll" src="/static/img/Icon_point-mode-all.png" title="Show all points"/>
    <br/>
    <input class="pointModeButton" type="image"
           id="pointModeButtonSelected" src="/static/img/Icon_point-mode-selected.png" title="Show selected points only"/>
    <br/>
    <input class="pointModeButton" type="image"
           id="pointModeButtonNone" src="/static/img/Icon_point-mode-none.png" title="Hide all points"/>
    <br/>

    <input class="quickSelectButton" type="image"
           id="quickSelectButtonNone" src="/static/img/Icon_select-none.png" title="Un-select all points"/>
    <br/>
    <input class="quickSelectButton" type="image"
           id="quickSelectButtonUnannotated" src="/static/img/Icon_select-unannotated.png" title="Select all unannotated points"/>
    <br/>
    <input class="quickSelectButton" type="image"
           id="quickSelectButtonInvert" src="/static/img/Icon_select-inversion.png" title="Invert current selections"/>
    <br/>
</div>

<form id="annotationForm"
      action="" method="post">{% csrf_token %}

  {% for field in form.hidden_fields %}
      {{ field }}
  {% endfor %}

  <div id="annotationList">

    <table>

    {% for field in form.visible_fields %}
      <tr>
        <td class="annotationFormLabelCell">
            <span class="annotationFormLabel">{{ field.label }}</span>
        </td>
        <td>
            {{ field }}
        </td>
      </tr>
    {% endfor %}

    </table>

  </div>

</form>

<div id="progressIndicator">

  {# type="button" ensures that the button doesn't do a non-Ajax form submit #}
  <button id="saveButton" type="button">Save progress</button>

  <div id="allDone"></div>

</div>

<div id="zoom-controls">

</div>

<div id="image-tools">
    {% include "annotations/annotation_image_options.html" with image_options_form=image_options_form %}
</div>

<div id="info-buttons">
    <table>
        <tr>
            <td class="image-info" id="image-info-button" title="Information on this image">Image Info
            </td>
            <td class="history" id="history-button" title="Annotation history for this image">History
            </td>
            <td class="settings" id="settings-button" title="Annotation tool settings">Settings
            </td>
            <td class="help" id="help-button" title="Help, controls, and compatibility info">Help
            </td>
        </tr>
    </table>
</div>

<div id="nav-buttons">
    <table>
        <tr>
            {# TODO: Handle the cases where there is no prev or no next image. #}

            <td class="prev">
                <a href="{% url annotation_tool prev_image.id %}"
                   title="Go to image: {{ prev_image.get_image_element_title }}">
                    <span>Prev Image</span>
                </a>
            </td>
            <td class="next">
                <a href="{% url annotation_tool next_image.id %}"
                   title="Go to image: {{ next_image.get_image_element_title }}">
                    <span>Next Image</span>
                </a>
            </td>
            <td class="exit">
                <a href="{% url image_detail image.id %}" title="Exit Annotation Tool and return to main site">
                    <span>Exit Tool</span>
                </a>
            </td>
        </tr>
    </table>
</div>


<div id="dialog-items">

    <div id="image-info">
        {% include "images/location_values_table.html" with image=image %}
        <hr class="light">
        <ul class="detail_list">
            <li>Annotation points: {{ image.point_gen_method_display }}</li>
            <li>Annotation area: {{ image.annotation_area_display|default:"(Not specified)" }}</li>
        </ul>
    </div>

    <div id="history">

    </div>

    <div id="settings">
        {% include "annotations/annotation_tool_settings.html" %}
    </div>

    <div id="help">
        {% include "annotations/annotation_tool_help.html" %}
    </div>

</div>


{# TODO: Put the below in an image-info area. #}
{% comment %}
<br/>

<hr/>

<div style="display:inline-block;">
    {% include "images/location_values_table.html" with image=image %}
</div>

<div style="display:inline-block; margin-left:50px;">
    <ul class="detail_list">
        {% if prev_image or next_image %}
            <li>Annotate another image</li>
        {% else %}
            <li>All other images have been annotated</li>
        {% endif %}
        <li>
            {% if prev_image %}
                <a href="{% url annotation_tool prev_image.id %}"
                   title="{{ prev_image.get_image_element_title }}">
                    &lt; Previous</a>
            {% endif %}

            {% if next_image %}
                <a href="{% url annotation_tool next_image.id %}"
                   title="{{ next_image.get_image_element_title }}">
                    Next &gt;</a>
            {% endif %}
        </li>
    </ul>
</div>

<hr class="light">

<ul class="detail_list">
    <li>Annotation points: {{ image.point_gen_method_display }}</li>
    <li>Annotation area: {{ image.annotation_area_display|default:"(Not specified)" }}</li>
</ul>
{% endcomment %}

<!-- Script in the body will run on page load. -->
<script type="text/javascript">
    // Initialize the Annotation Tool Settings helper object.
    ATS.init();
    // Initialize the Annotation Tool Image helper object.
    ATI.init({{ source_images|jsonify }});
    // Initialize the Annotation Tool Helper object.
    AnnotationToolHelper.init({
        fullHeight: {{ image.original_height }},
        fullWidth: {{ image.original_width }},
        imagePoints: {{ annotationsJSON|safe }},
        labels: {{ labels|jsonify }},
        layout: {{ layout|jsonify }}
    });
</script>

{% endblock %}

{% block footer %}{% endblock %}
