<form id="annotationImageOptionsForm"
      action="" method="post">{% csrf_token %}

    {# TODO: Stop displaying this field generically, that doesn't work. #}
    {% for field in image_options_form %}
        {% include "form_generic_one_field.html" with field=field dont_mark_required='yes' %}

        {% if field.name == "brightness" or field.name == "contrast" %}
            <div id="{{ field.name }}_slider"></div>
        {% endif %}
    {% endfor %}

    {{ image_options_form.brightness }}

    <div class="submit_button_wrapper_column_form">
        <button id="applyImageOptionsButton" type="button">Apply</button>
        <button id="resetImageOptionsButton" type="button">Reset Parameters</button>
    </div>

    <div id="applyingText"></div>
</form>