<legend>Settings</legend>
<form id="annotationToolSettingsForm"
      action="" method="post">{% csrf_token %}

    {% for field in settings_form %}
        {% if field.name == "point_marker_is_scaled" or field.name == "point_number_is_scaled" %}
            {% include "form_generic_one_field.html" with field=field dont_mark_required='yes' checkbox='yes' %}
        {% else %}
            {% include "form_generic_one_field.html" with field=field dont_mark_required='yes' %}
        {% endif %}
    {% endfor %}

    <div class="submit_button_wrapper_column_form">
        <button id="saveSettingsButton" type="button" disabled="disabled">Settings saved</button>
    </div>
</form>