<h3>Settings</h3>

<ul>
    <li><p><strong>Point marker:</strong>
        Pick between various shapes to use as markers for each point.</p></li>
    <li><p><strong>Point marker size, Point marker is scaled:</strong>
        Customize the size of the point marker,
        and choose whether the marker changes size
        when you zoom in or out on the image.</p></li>
    <li><p><strong>Point number size, Point number is scaled:</strong> Customize the size of the numbers
        next to the point markers.</p></li>
    <li><p><strong>Point colors:</strong> Customize point colors.
        Click the text field to make a color picker appear, then pick a color.
        You may also type in a color code directly.</p></li>
    <li><p><strong>Show machine annotations:</strong>
        Turn label suggestions on or off. Suggestions will appear in the text
        fields of each point you haven't labeled yet.
        If you change this setting, the change will take effect the next time
        you enter the annotation tool.
        (Note: If your image hasn't been machine-annotated yet,
        then you won't see label suggestions either way.)</p></li>
    <li><p>If you change any settings, you must click the "Save settings"
        button to save those settings for next time. If no settings have
        been changed, it'll say "Settings saved".</p></li>
</ul>