<div class="help_section">
    <span class="help_header">Choosing a point to label</span>
    <ul>
        <li>Click a text field</li>
        <li><kbd>Shift</kbd>-click on image</li>
        <li><kbd>&darr;</kbd> and <kbd>&uarr;</kbd> : next/previous</li>
        <li><kbd>.</kbd> : first unannotated point</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Labeling the chosen point</span>
    <ul>
        <li>Click a label button</li>
        <li>Type a label code in the field</li>
        <li><span class='key_non_mac'><kbd>Enter</kbd></span>
            <span class='key_mac'><kbd>Return</kbd></span> :
            accept a machine-suggested label</li>
        <li><kbd>Ctrl</kbd>+<kbd>&larr;</kbd> <kbd>&rarr;</kbd>
            <kbd>&uarr;</kbd> <kbd>&darr;</kbd> :
            navigate the label button grid</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Selecting multiple points</span>
    <ul>
        <li><span class='key_non_mac'><kbd>Ctrl</kbd>-click</span>
            <span class='key_mac'><kbd>Cmd</kbd>-click</span>
            on image</li>
        <li>Click the numbers next to the fields</li>
        <li><img src="/static/img/Icon_select-none.png"/>,
            <img src="/static/img/Icon_select-unannotated.png"/>,
            and <img src="/static/img/Icon_select-inversion.png"/></li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Image controls</span>
    <ul>
        <li>Left-click on image, <kbd>Shift</kbd>+<kbd>&uarr;</kbd> : zoom in</li>
        <li><span class='key_non_mac'>Right-click</span>
            <span class='key_mac'><kbd>Ctrl</kbd>-click</span> on image,
            <kbd>Shift</kbd>+<kbd>&darr;</kbd> : zoom out</li>
        <li><img src="/static/img/Icon_zoom-in.png"/>,
            <img src="/static/img/Icon_zoom-out.png"/>,
            and <img src="/static/img/Icon_zoom-fit.png"/> : zoom buttons</li>
        <li><img src="/static/img/Icon_point-mode-all.png"/>,
            <img src="/static/img/Icon_point-mode-selected.png"/>,
            and <img src="/static/img/Icon_point-mode-none.png"/> : point display buttons</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Navigate to another image</span>
    <ul>
        <li><kbd>g</kbd> then <kbd>n</kbd> : next image needing annotation</li>
        <li><kbd>g</kbd> then <kbd>b</kbd> : back in history</li>
        <li><kbd>g</kbd> then <kbd>f</kbd> : forward in history</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">Miscellaneous</span>
    <ul>
        <li><kbd>Esc</kbd> : get out of a label field</li>
        <li><span class='key_non_mac'><kbd>Ctrl</kbd>+<kbd>S</kbd></span>
            <span class='key_mac'><kbd>Cmd</kbd>+<kbd>S</kbd></span> : save progress</li>
        <li><kbd>?</kbd> : open this controls dialog</li>
        <li><kbd>Esc</kbd> : close this controls dialog</li>
    </ul>
</div>

<div class="help_section">
    <span class="help_header">See also</span>
    <ul>
        <li>For more detailed explanations, click the "Help" button.</li>
    </ul>
</div>