{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

{{ form.non_field_errors }}

{% with labelsField=form.labels %}
    {{ labelsField.errors }}

    <table class="detail_table">

      <tr>
        <th>Name</th>
        <th>Short Code</th>
        <th>Functional Group</th>
        {% if isEditLabelsetForm %}
          <th style="width: 55px;">Status</th>  {# The width prevents the column from expanding when a cell has the word "deleted".  Bit of a hack #}
        {% endif %}
        <th></th>
      </tr>
    
      {% for label in allLabels %}
        {% with labelId=label.labelId %}
        {% with checkboxId="id_labels_"|add:labelId   rowId="id_row_"|add:labelId %}
          <tr class="checkbox_row" id="{{ rowId }}">
              <td class="clickable_cell">
                  {% comment %}
                  The actual checkbox element is completely hidden from view.
                  The checkbox element's purpose is to hold a "checked" state,
                  and to tie into the Django form, which still looks for the checkbox states.
                  {% endcomment %}
                  <input type="checkbox" name="{{ labelsField.name }}" value="{{ labelId }}" id="{{ checkboxId }}"
                         style="display: none;"/>
                  {{ label.name }}
              </td>
              <td class="clickable_cell">
                  {{ label.code }}
              </td>
              <td class="clickable_cell">
                  {{ label.group }}
              </td>
              {% if isEditLabelsetForm %}
                <td class="change_status clickable_cell">
                  
                </td>
              {% endif %}
              <td>
                  <a href="{% url label_main labelId %}"
                     target="_blank" title="Opens in new tab or window">Info</a>
              </td>
          </tr>
        {% endwith %}
        {% endwith %}
      {% endfor %}
    </table>
{% endwith %}
