{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<fieldset>
  <legend>Create a new Label</legend>
  <span class="helptext">Please note that any new labels you create will be made publicly available to all CoralNet users.</span>

  {% include "form_generic.html" with form=labelForm %}
</fieldset>

<div class="submit_button_wrapper_column_form">
  <input type="submit" id="id_button_send_label_form" name="create_label" value="Create Label" />
  <button type="button" class="submit" id="id_button_cancel_label_form">Cancel</button>
</div>