{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<div class="errorlist_wrapper">{{ form.non_field_errors|safe }}</div>

<table style="border-collapse: separate; border-spacing: 50px 0;">
    <tr>
        <td>
          {% include "annotations/form_annotation_area_one_field.html" with field=form.min_x %}
        </td>
        <td>
            {% include "annotations/form_annotation_area_one_field.html" with field=form.max_x %}
        </td>
    </tr>
    <tr>
        <td>
            {% include "annotations/form_annotation_area_one_field.html" with field=form.min_y %}
        </td>
        <td>
            {% include "annotations/form_annotation_area_one_field.html" with field=form.max_y %}
        </td>
    </tr>
</table>
