<h3>Labelset editing</h3>
    
    <p> Click on a table row to select or unselect a label. However, note that you will not be able to unselect labels that already have annotations in your Source. (These labels are highlighted in gray.) If you do want to delete a label for which there are annotations, please use the 'Annotation Patches" search function of the browse tool to first remove the annotations of that label. Then go back and delete the label. </p>
    <p>
    For more details on the labelset see the <a href="http://vimeo.com/104152472">labelset instruction video</a> on Vimeo. Also, see the <a href="http://vimeo.com/channels/coralnet/104752613">browse tool instuction video</a> for instructions on how to search for annotations.
</p>
