{% extends "annotations/base_label.html" %}

{% block title %}CoralNet - New Label{% endblock %}

{% block media-includes %}
  {{ form.media }}
{% endblock %}

{% block content %}

    <h2>Create a new Label</h2>

    {# This form submits to the same URL as this page. #}
    {# The view function redirects to the success page if the form is valid. #}

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create Label" />
    </form>

{% endblock %}
