{% extends "images/base_source.html" %}

{% block title %}New LabelSet | CoralNet{% endblock %}

{% block page-specific-includes %}
  {{ labelSetForm.media }}
  {{ labelForm.media }}
{% endblock %}

{% block content %}

    {# inline display confines the bottom border to the length of the text. #}
    <legend style="display:inline">Create a new LabelSet</legend>
    {# unfortunately, inline display means we need to manually insert linebreaks #}
    <br /><br />
    <span class="helptext">
        Click on a table row to select or unselect a label.
    </span>
    
    <button id="id_button_show_label_form">Add a new label that's not in the list</button>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        
      <div id="id_new_label_form_wrapper" style="display:none">

        <hr />
          
        {% include "annotations/form_new_label.html" with labelForm=labelForm %}
          
        <hr />

      </div>

      {% include "annotations/form_new_labelset.html" with form=labelSetForm isEditLabelsetForm=isEditLabelsetForm %}

      <br />
      <input type="submit" name="create_labelset" value="Create LabelSet" />

    </form>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">
        var allLabels = {{ allLabelsJSON|safe }};
        var isInLabelset = {};
        var isInitiallyChecked = {{ isInitiallyChecked|safe }};
        var isLabelUnchangeable = {};
        var isEditLabelsetForm = false;  {# Can't use a template variable with a Python bool, as that isn't JSON/JS #}
        
        LabelsetFormHelper.init({{ showLabelFormInitially }}, allLabels, isInLabelset, isInitiallyChecked, isLabelUnchangeable, isEditLabelsetForm);
    </script>


{% endblock %}
