{% extends "images/base_source.html" %}

{% block title %}Edit LabelSet | CoralNet{% endblock %}

{% block media-includes %}
  {{ block.super }}
  {{ labelSetForm.media }}
  {{ labelForm.media }}
{% endblock %}

{% block content %}

    {# inline display confines the bottom border to the length of the text. #}
    <legend style="display:inline">Edit LabelSet</legend>
    {# unfortunately, inline display means we need to manually insert linebreaks #}
    <br /><br />

    <button id="id_button_show_label_form">Add a new label that's not in the list</button>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

      <div id="id_new_label_form_wrapper" style="display:none">

        <hr />

        <fieldset>
          <legend>Create a new Label</legend>

          {% include "form_generic.html" with form=labelForm %}
        </fieldset>

        <div class="submit_button_wrapper">
          <input type="submit" id="id_button_send_label_form" name="create_label" value="Create Label" />
          <button type="button" class="submit" id="id_button_cancel_label_form">Cancel</button>
        </div>

        <hr />

      </div>

      <fieldset>
        {% include "annotations/form_new_labelset.html" with form=labelSetForm %}
      </fieldset>

      <div class="submit_button_wrapper">
        <input type="submit" name="edit_labelset" value="Edit LabelSet" />
        <input type="submit" name="cancel" value="Cancel Changes" />
      </div>

    </form>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">
        initiallyCheckedLabels = new Array({{ initiallyCheckedLabels|length }});
        {% for labelNum in initiallyCheckedLabels %}
            initiallyCheckedLabels[{{ forloop.counter0 }}] = {{ labelNum }};
        {% endfor %}
        LabelsetFormHelper.init({{ showLabelFormInitially }}, initiallyCheckedLabels);
    </script>


{% endblock %}
