{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block selected_userena_email_change %}selected{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Change email address" %}</legend>
            {% include "form_generic.html" with form=form %}
        </fieldset>
        <div class="submit_button_wrapper">
            <input type="submit" value="{% trans "Change email" %}" />
        </div>
    </form>

{% endblock %}
