{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block selected_userena_password_change %}selected{% endblock %}

{% block content %}

    <form action="" method="post" id="password_change_form">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Change Password" %}</legend>
            {% include "form_generic.html" with form=form %}
        </fieldset>
        <div class="submit_button_wrapper">
            <input type="submit" value="{% trans "Change password" %}" />
        </div>
    </form>
    
{% endblock %}
