{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block selected_userena_profile_edit %}selected{% endblock %}

{% block content %}

   <form action="" enctype="multipart/form-data" method="post">
       {% csrf_token %}
        <fieldset>
        <legend>{% trans "Edit Profile" %}</legend>
        {% include "form_generic.html" with form=form %}
        </fieldset>

        <div class="submit_button_wrapper">
          <input type="submit" value="{% trans "Save changes" %}" />
        </div>
    </form>
    
{% endblock %}
