{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block selected_userena_profile_edit %}selected{% endblock %}

{% block content %}

   <form action="" enctype="multipart/form-data" method="post">
       {% csrf_token %}
        <fieldset>
        <legend>{% trans "Edit Profile" %}</legend>
        {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "Save changes" %}" />
    </form>
    
{% endblock %}
