{% extends "base.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}Source | CoralNet{% endblock %}

{% block media-includes %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/source.css" />
{% endblock %}

{% block nav %}
    {{ block.super }}

    <h2><a href="{% url source_main source.id %}">{{ source.name }}</a></h2>

    <div class="nav_container" id="nav_second_container">
      <ul class="nav nav_right" id="nav_source">
        <li><a href="{% url source_main source.id %}"><span>{% trans 'Main Page' %}</span></a></li>
        {% get_obj_perms user for source as "source_perms" %}
        {% if "source_edit" in source_perms %}
          <li><a href="{% url image_upload source.id %}"><span>{% trans 'Upload' %}</span></a></li>
        {% endif %}
        <li><a href="{% url visualize_source source.id %}"><span>{% trans 'Browse' %}</span></a></li>
        <li><a href="{% url statistics source.id %}"><span>{% trans 'Statistics' %}</span></a></li>
        <li><a href="{% url export_menu source.id %}"><span>{% trans 'Export' %}</span></a></li>



        <li><a href="{% url labelset_main source.id %}"><span>{% trans 'LabelSet' %}</span></a></li>
      
        {% if "source_edit" in source_perms %}
          <li><a href="{% url annotation_import source.id %}"><span>{% trans 'Import Annotations' %}</span></a></li>
        {% endif %}
      </ul>
    </div>
{% endblock %}
