{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<fieldset>
    <legend class="small">General Information</legend>
    {% include "form_generic.html" with form=sourceForm.fieldsets.general_info %}
</fieldset>

<fieldset>
    <legend class="small">Location Keys</legend>
    <span class="helptext">This information can be used as search keys when you browse through your Source's images.<br />
                           You can have up to 5 location keys.  Key 1 is most general, Key 5 is most specific.<br />
                           Example: (1) City, (2) Town, (3) Block</span>
    {% include "form_generic.html" with form=sourceForm.fieldsets.keys %}
</fieldset>

<fieldset>
    <legend class="small">Image Annotation</legend>
    {% include "form_generic.html" with form=sourceForm.fieldsets.image_annotation %}

    {% include "form_generic.html" with form=pointGenForm %}
</fieldset>

<fieldset>
    <legend class="small">World Location</legend>
    <span class="helptext">To get your Source's coordinates, try <a href="http://www.getlatlon.com/" target="_blank">getlatlon.com</a>.<br />
                           Later, we'll use this information to integrate with Google Maps.</span>
    {% include "form_generic.html" with form=sourceForm.fieldsets.world_location %}
</fieldset>
