{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<fieldset>
    <legend class="small">General Information</legend>
    {% include "form_generic.html" with form=sourceForm.fieldsets.general_info %}
</fieldset>

<fieldset>
    <legend class="small">Location Keys</legend>
    <span class="helptext_long">
        This is how you organize your source's images.  Location keys are a hierarchy of categories.
        As the name suggests, location keys typically refer to the location where the image was taken,
        but this is not strictly required.  Here's an example:<br /><br />

        Suppose you take your coral images at 3 different islands: North, South, and East.  At each
        island, you take photos at 3 different coral habitats based on their distance from the shore:
        Fringing Reef, 5m out, and 10m out.  For each island + habitat combination, you have multiple
        images with no particular organization to them.<br /><br />

        In this case you would have 3 location keys: Key 1 would be Island, Key 2 would be Habitat, and
        Key 3 would be something arbitrary to differentiate between images, like Number.  When you
        upload an image, you'll specify the "location values" that correspond to each of these keys.
        For example, one image may have the values North, 5m out, and 4, indicating that it's the 4th
        image that is from North island at 5m out.<br /><br />

        {% if source_form_type == "new" %}
            You can have 1 to 5 location keys, depending on how much organization you need.  Once you've
            uploaded some images, you'll be able to search through them using location values: you can
            search for all the images that are from the North island, all the images that are from the
            South island's fringing reef, and so on.<br /><br />

            NOTE: Once you create your source, you cannot change the number of location keys.
            You'll only be able to change the keys' names.  So please take the time now to think
            carefully about the organization of your source.
        {% else %} {# edit #}
            Once you've uploaded some images, you'll be able to search through them using location
            values: you can search for all the images that are from the North island, all the images
            that are from the South island's fringing reef, and so on.<br /><br />

            NOTE: Since you are editing a source that's already been created, you cannot change the
            number of location keys.  You can only change the keys' names.
        {% endif %}
    </span>
    {% include "form_generic.html" with form=location_key_form %}
</fieldset>

<fieldset>
    <legend class="small">Image Annotation</legend>

    <legend class="smaller">Default image height</legend>
    <span class="helptext">{{ sourceForm.image_height_in_cm.help_text|linebreaksbr }}</span>
    {% include "form_generic_one_field.html" with field=sourceForm.image_height_in_cm dont_show_help_text="True" %}

    <hr class="light"/>

    <legend class="smaller">Default image annotation area</legend>
    <span class="helptext">{{ annotationAreaForm.form_help_text|linebreaksbr }}</span>
    {% include "annotations/form_annotation_area.html" with form=annotationAreaForm type="percent" %}

    <hr class="light"/>

    <legend class="smaller">Point generation method</legend>
    <span class="helptext">{{ pointGenForm.form_help_text|linebreaksbr }}</span>
    {% include "form_generic.html" with form=pointGenForm %}

    <hr class="light"/>

    <legend class="smaller">Machine annotation</legend>
    {% if source_form_type == "edit" %}
        <span class="helptext">
            Status:
            {% if source.enable_robot_classifier %}
                Enabled. If you wish to disable machine annotation, please
                <a href="{% url contact %}" target="_blank">contact us</a>.
            {% else %}
                Disabled. If you wish to enable machine annotation, please
                <a href="{% url contact %}" target="_blank">contact us</a>.
            {% endif %}
        </span>
    {% endif %}
</fieldset>

<fieldset>
    <legend class="small">World Location</legend>
    <span class="helptext">To get your source's coordinates, try <a href="http://www.latlong.net/" target="_blank">latlong.net</a>.<br />
                           Later, we'll use this information to integrate with Google Maps.</span>
    {% include "form_generic.html" with form=sourceForm.fieldsets.world_location %}
</fieldset>
