{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<fieldset>
    <legend class="small">General Information</legend>
    {% include "form_generic.html" with form=sourceForm.fieldsets.general_info %}
</fieldset>

<fieldset>
    <legend class="small">Location Keys</legend>
        <span class="helptext_long">
        This is how you organize your source's images.  Location keys are a hierarchy of categories.
        As the name suggests, location keys typically refer to the location where the image was taken,
        but this is not strictly required.  Here's an example:<br /><br />

        Suppose you take your coral images at 3 different islands: North, South, and East.  At each
        island, you take photos at 3 different coral habitats based on their distance from the shore:
        Fringing Reef, 5m out, and 10m out.  For each island + habitat combination, you have multiple
        images with no particular organization to them.<br /><br />

        In this case you would have 3 location keys: Key 1 would be Island, Key 2 would be Habitat, and
        Key 3 would be something arbitrary to differentiate between images, like Number.  When you
        upload an image, you'll specify the "location values" that correspond to each of these keys.
        For example, one image may have the values North, 5m out, and 4, indicating that it's the 4th
        image that is from North island at 5m out.<br /><br />

        {% if source_form_type == "new" %}
            You can have 1 to 5 location keys, depending on how much organization you need.  Once you've
            uploaded some images, you'll be able to search through them using location values: you can
            search for all the images that are from the North island, all the images that are from the
            South island's fringing reef, and so on.<br /><br />

            NOTE: Once you create your source, you cannot change the number of location keys.
            You'll only be able to change the keys' names.  So please take the time now to think
            carefully about the organization of your source.
			NOTE2: The image acquisition date is always part of the image metadata, along with several other fields, such as camera, water quality etc. There is therefore no need to use e.g. 'year' as a location key.
        {% else %} {# edit #}
            Once you've uploaded some images, you'll be able to search through them using location
            values: you can search for all the images that are from the North island, all the images
            that are from the South island's fringing reef, and so on.<br /><br />

            NOTE: Since you are editing a source that's already been created, you cannot change the
            number of location keys.  You can only change the keys' names.
        {% endif %}
        </span>
    {% include "form_generic.html" with form=location_key_form %}
</fieldset>

<fieldset>
    <legend class="small">Image Annotation</legend>

    <legend class="smaller">Default image height</legend>
    <span class="helptext">{{ sourceForm.image_height_in_cm.help_text|linebreaksbr }}</span>
    {% include "form_generic_one_field.html" with field=sourceForm.image_height_in_cm dont_show_help_text="True" %}

    <hr class="light"/>

    <legend class="smaller">Default image annotation area</legend>
    <span class="helptext">{{ annotationAreaForm.form_help_text|linebreaksbr }}</span>
    {% include "annotations/form_annotation_area.html" with form=annotationAreaForm type="percent" %}

    <hr class="light"/>

    <legend class="smaller">Point generation method</legend>
    <span class="helptext">{{ pointGenForm.form_help_text|linebreaksbr }}</span>
    {% include "form_generic.html" with form=pointGenForm %}

    {# Careful with boolean short-circuiting - 'source' is only available if we are editing a source. #}

    {% if source_form_type == "edit" and not source.enable_robot_classifier %}
        <hr class="light"/>

        <legend class="smaller">Machine annotation</legend>
        <span class="helptext">
            Status:
            Disabled. If you wish to enable machine annotation for this
            source, please
            <a href="{% url contact %}" target="_blank">contact us</a>.
        </span>
    {% endif %}

    {% if source_form_type == "new" or source.enable_robot_classifier %}
        <hr class="light"/>

        <legend class="smaller">Level of alleviation</legend>

        <span class="helptext_long">
        The CoralNet alleviate feature offers a trade-off between fully automated and fully manual annotation. This is done by auto-accepting machine annotations when they are sufficiently confident. Please refer to our <a href="https://vimeo.com/channels/coralnet/133397508"> instruction video</a> for an overview and <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0130312">this study</a> for more details.<br/><br/>
        
        This auto-acceptance happens when you enter the annotation tool for an image. Effectively, the machine's most confident points are "alleviated" from your annotation workload (for that image). Alleviated annotation decisions are treated as 'Confirmed', and are included when you export your annotations. <br/><br/>
        
        Users control this functionality by specifying the level of alleviation. For example, with 40% alleviation, the machine learning algorithm ("robot") will do 40% of the point annotations and leave the remaining 60% for the human operator. This level of alleviation is NOT per image, but the average across all remaining images. Some (easy) images may be fully alleviated, while other (harder) may have very little alleviated points. 0% alleviation corresponds to no alleviation (i.e. fully manual annotation).<br/><br/>
        
        When the first robot version is trained for your source, you can see the trade-off between the level of alleviation and the annotation accuracy. We recommend that you set the alleviation level to 0% until you have seen this trade-off curve. You can then adjust the alleviation level. <br/><br/>
        
        <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0130312">This study</a> suggests that a 5% drop is annotation accuracy has marginal (if any) impact on derived cover estimates. We therefore suggest that you set the level of alleviation corresponding to a 5% drop in accuracy.<br/><br/>

        NOTE1: The level of alleviation should not be confused with the confidence scores that are displayed during manual annotation. Once you set your desired level of alleviation, this is translated to a confidence score by the back-end, and any robot prediction above that confidence will be automatically accepted. 
        <br/><br/>

        NOTE2: Machine annotations that have <strong>not</strong> been Confirmed can optionally also be included in your export (see the 'export' page) <br/><br/>

        </span>

        {% include "form_generic_one_field.html" with field=sourceForm.alleviate_threshold dont_show_help_text="True" %}
    {% endif %}
</fieldset>

<fieldset>
    <legend class="small">World Location</legend>
    <span class="helptext">To get your source's coordinates, try <a href="http://www.latlong.net/" target="_blank">latlong.net</a>.<br />
                           Later, we'll use this information to integrate with Google Maps.</span>
    {% include "form_generic.html" with form=sourceForm.fieldsets.world_location %}
</fieldset>
