{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<table style="border-collapse: separate; border-spacing: 50px 0;">
    <tr>
        <td>
          {% include "images/form_annotation_area_one_field.html" with field=form.annotation_min_x %}
{% comment %}          {% with field=form.annotation_min_x %}
            <label for="{{ field.id_for_label }}" class="no_style">
              <span style="color:red;"> * </span>{{ field.label }}:
            </label>
            {{ field }}
          {% endwith %}
          {% if type == "percent" %} % {% endif %}{% endcomment %}
        </td>
        <td>
            {% include "images/form_annotation_area_one_field.html" with field=form.annotation_max_x %}
        </td>
    </tr>
    <tr>
        <td>
            {% include "images/form_annotation_area_one_field.html" with field=form.annotation_min_y %}
        </td>
        <td>
            {% include "images/form_annotation_area_one_field.html" with field=form.annotation_max_y %}
        </td>
    </tr>
</table>
