<h2>Manipulate annotations and point locations</h2>

<h4>Clear annotations</h4>
<p>
Clicking the "Delete annotation" buttom will remove all annotations for the image. This includes all human and machine annotations. </p>

<h4>Re-generate random point locations</h4>
<p> If there are no human annotations for the image, an option will appear to regenerate the point locations.</p>
<p> The new points will be generated according to the point generation method specified on the source-level, using either the source-level default annotation area, or (if specified) the image-level annotation area.  Any Robot and Alleviate annotation will be deleted. </p>
<p> If there are human annotations on the image, you must first delete these before you can re-generate the point-locations. </p>

<h4>Modify annotation area</h4>
<p> If there are no human annotations for the image, an option will appear to re-define the image area for which points should be scattered. If a new area is set, new points will be scattered as detailed above, and any Robot or Alleviate annotatations will be deleted .</p>
<p> If there are human annotations on the image, you must first delete these. </p>