{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load dajaxice_templatetags %}

{% block title %}Upload Images with Annotations | CoralNet{% endblock %}

{% block media-includes %}
  {{ block.super }}
  {% dajaxice_js_import %}
  {{ optionsForm.media }} {# CSS and JS #}
{% endblock %}

{% block content %}

    {% if uploadedImages %}
    <div>
      <h2>Just uploaded (up to 5 shown):</h2>
      {% for image in uploadedImages %}
        <span class="thumb_small_wrapper">
        <a href="{% url image_detail source.id image.id %}">
          <img class="thumb_small"
               src="{% thumbnail image.original_file 100x100 %}"
               title="{{ image.get_image_element_title }}"/>
        </a>
        </span>
      {% endfor %}
    </div>

    <hr />
    {% endif %}

    <legend>Upload Images with Annotations</legend>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% include "form_generic.html" with form=annotationForm %}
        {% include "form_generic.html" with form=imageForm %}
        {% include "form_generic.html" with form=optionsForm %}

        <div class="submit_button_wrapper">
            <input type="submit" id="id_upload_submit" value="To be filled in with JS" />
        </div>
    </form>

    <!-- Preview the files selected for upload. -->
    <div id="previewArea">

    </div>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">

        ImageUploadFormHelper.initForm("previewArea", {{ source.id }}, true);

    </script>

{% endblock %}
