{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load dajaxice_templatetags %}

{% block title %}Upload Images | CoralNet{% endblock %}

{% block media-includes %}
  {{ block.super }}
  {% dajaxice_js_import %}
  {{ imageUploadForm.media }} {# CSS and JS #}
{% endblock %}

{% block content %}

    {% if uploadedImages %}
    <div>
      <h2>Just uploaded (up to 5 shown):</h2>
      {% for image in uploadedImages %}
        <a href="{% url image_detail source.id image.id %}">
          <img src="{% thumbnail image.original_file 100x100 %}"
               title="{{ image.get_image_element_title }}"/>
        </a>
      {% endfor %}
    </div>
    {% endif %}

    <hr />

    <h2>Upload Images</h2>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    
        {{ imageUploadForm.non_field_errors }}
        {% for field in imageUploadForm %}
            <div id="id_{{ field.name }}_wrapper">
                {{ field.errors }}
                <p>
                    <label for="{{ field.widget.id_for_label }}">{{ field.label }}:</label> {{ field }}
                    <span class="helptext">{{ field.help_text|linebreaksbr }}</span>
                </p>
            </div>
        {% endfor %}
        {% for detail in imageUploadForm.additional_details %}
            <p><span class="helptext">{{ detail|linebreaksbr }}</span></p>
        {% endfor %}
        <input type="submit" id="id_upload_submit" value="Upload Images" />
    </form>

    <!-- Preview the files selected for upload. -->
    <div id="previewArea">

    </div>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">

        ImageUploadFormHelper.initForm("previewArea", {{ source.id }});

    </script>

{% endblock %}
