{% extends "images/base_source.html" %}
{% load thumbnail %}

{% block title %}Upload Images with Annotations | CoralNet{% endblock %}

{% block content %}

    {% if uploadedImages %}
    <div>
      <h2>Just uploaded (up to 5 shown):</h2>
      {% for image in uploadedImages %}
        <a href="{% url image_detail source.id image.id %}">
          <img src="{% thumbnail image.original_file 100x100 %}"
               title="{{ image.get_image_element_title }}"/>
        </a>
      {% endfor %}
    </div>

    <hr />
    {% endif %}

    <h2>Upload Images with Annotations</h2>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ annotationsUploadForm.as_p }}
        {{ imageUploadForm.as_p }}
      <input type="submit" value="Upload Images and Annotations" />
    </form>

{% endblock %}
