{% extends "images/base_source.html" %}
{% load thumbnail %}

{% block title %}Upload Images | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with dajaxice="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {{ optionsForm.media }} {# CSS and JS #}
{% endblock %}

{% block content %}

    {% if uploadedImages %}
    <div>
      <h2>Just uploaded (up to 5 shown):</h2>
      {% for image in uploadedImages %}
        <span class="thumb_small_wrapper">
        <a href="{% url image_detail source.id image.id %}" target="_blank">
          <img class="thumb_small"
               src="{% thumbnail image.original_file 100x100 %}"
               title="{{ image.get_image_element_title }}"/>
        </a>
        </span>
      {% endfor %}
    </div>

    <hr />
    {% endif %}

    <legend>Upload Images</legend>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% include "form_generic.html" with form=imageForm %}
        {% include "images/form_image_upload_options.html" with form=optionsForm %}
        {% for detail in optionsForm.additional_details %}
            <span class="helptext">{{ detail|linebreaksbr }}</span>
        {% endfor %}

        <div class="submit_button_wrapper">
            <input type="submit" id="id_upload_submit" value="To be filled in with JS" />
        </div>
    </form>

    <!-- Preview the files selected for upload. -->
    <div id="previewArea">

    </div>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">

        ImageUploadFormHelper.initForm({{ source.id }}, false);

    </script>

{% endblock %}
