{% extends "images/base_image.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}{{ metadata.name }} | CoralNet{% endblock %}

{% block javascript-functions %}
<script type="text/javascript">

    var ORIGINAL_WIDTH = {{ image.original_width }};
    var SCALED_WIDTH = {{ scaled_width }};

    function initImageDetailPage() {
        $("#coralImage").width(SCALED_WIDTH);

        if (ORIGINAL_WIDTH == SCALED_WIDTH) {
            $("#originalWidthButton").hide();
            $("#scaledWidthButton").hide();
        }
        else {
            $("#originalWidthButton").show();
            $("#scaledWidthButton").hide();
        }
    }

    function setImageToOriginalWidth() {
        $("#coralImage").width(ORIGINAL_WIDTH);
        $("#scaledWidthButton").show();
        $("#originalWidthButton").hide();
    }
    function setImageToScaledWidth() {
        $("#coralImage").width(SCALED_WIDTH);
        $("#originalWidthButton").show();
        $("#scaledWidthButton").hide();
    }

</script>
{% endblock %}

{% block content %}

    {% get_obj_perms user for source as "source_perms" %}

    <button type="button" id="originalWidthButton" onclick="setImageToOriginalWidth()">View full image</button>
    <button type="button" id="scaledWidthButton" onclick="setImageToScaledWidth()">Scale image to page</button>

    <img id="coralImage" src="{{ image.original_file.url }}" />
    
    <hr />

    <div class="details">
    
        <ul>
        {% for detail in detailsets.keys %}
            <li>{{ detail.label }}: {{ detail.value }}</li>
        {% endfor %}
        </ul>

        <ul>
        <li>Full resolution: {{ image.original_width }} x {{ image.original_height }} pixels</li>

        <li>Annotation area: {{ image.annotation_area_display }}
            {% if "source_edit" in source_perms and annotation_area_editable %}
              (<a href="{% url annotation_area_edit source.id image.id %}">Edit</a>)
            {% endif %}
        </li>

        <li>Height coverage: {{ metadata.height_in_cm }} centimeters</li>
        </ul>

        <ul>
        <li>Upload date: {{ image.upload_date }}</li>
        <li>Uploaded by: {{ image.uploaded_by|default:"(Unknown)" }}</li>

        {% for detail in detailsets.other_info %}
            {% if detail.value %}
                {% if detail.name == 'comments' %}
                    <li>{{ detail.label }}:
                      <span style="display:block; margin-left:30px;">
                        {{ detail.value|linebreaksbr }}
                      </span>
                    </li>
                {% else %}
                    <li>{{ detail.label }}: {{ detail.value }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>

        {% if "source_edit" in source_perms %}
            <a href="{% url image_detail_edit source.id image.id %}">{% trans 'Edit Image Details' %}</a>
        {% endif %}

    </div>

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">

        initImageDetailPage();

    </script>

{% endblock %}
