{% extends "images/base_source.html" %}
{% load thumbnail %}

{% block title %}Upload Images with Annotations | CoralNet{% endblock %}

{% block content %}

    {% if uploadedImages %}
    <div>
      <h2>Just uploaded (up to 5 shown):</h2>
      {% for image in uploadedImages %}
        <a href="{% url image_detail source.id image.id %}">
          <img src="{% thumbnail image.original_file 100x100 %}"
               title="{{ image.get_image_element_title }}"/>
        </a>
      {% endfor %}
    </div>

    <hr />
    {% endif %}

    <legend>Upload Images with Annotations</legend>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% include "form_generic.html" with form=annotationsUploadForm %}
        {% include "form_generic.html" with form=imageUploadForm %}

        <div class="submit_button_wrapper">
          <input type="submit" value="Upload Images and Annotations" />
        </div>
    </form>

{% endblock %}
