{% extends "images/base_image.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}{{ metadata.name }} | CoralNet{% endblock %}

{% block javascript-functions %}
<script type="text/javascript">

    var ORIGINAL_WIDTH = {{ image.original_width }};
    var SCALED_WIDTH = {{ scaled_width }};

    function initImageDetailPage() {
        $("#coralImage").width(SCALED_WIDTH);

        if (ORIGINAL_WIDTH == SCALED_WIDTH) {
            $("#originalWidthButton").hide();
            $("#scaledWidthButton").hide();
        }
        else {
            $("#originalWidthButton").show();
            $("#scaledWidthButton").hide();
        }
    }

    function setImageToOriginalWidth() {
        $("#coralImage").width(ORIGINAL_WIDTH);
        $("#scaledWidthButton").show();
        $("#originalWidthButton").hide();
    }
    function setImageToScaledWidth() {
        $("#coralImage").width(SCALED_WIDTH);
        $("#originalWidthButton").show();
        $("#scaledWidthButton").hide();
    }

</script>
{% endblock %}

{% block content %}

    <button type="button" id="originalWidthButton" onclick="setImageToOriginalWidth()">View full image</button>
    <button type="button" id="scaledWidthButton" onclick="setImageToScaledWidth()">Scale image to page</button>

    <img id="coralImage" src="{{ image.original_file.url }}" />
    
    <p>Name: {{ metadata.name }}</p>
    <p>Photo date: {{ metadata.photo_date|default:"(Unknown)" }}</p>
    <p>
    {% if source.key1 %}  {{ source.key1 }}: {{ metadata.value1.name }}<br />  {% endif %}
    {% if source.key2 %}  {{ source.key2 }}: {{ metadata.value2.name }}<br />  {% endif %}
    {% if source.key3 %}  {{ source.key3 }}: {{ metadata.value3.name }}<br />  {% endif %}
    {% if source.key4 %}  {{ source.key4 }}: {{ metadata.value4.name }}<br />  {% endif %}
    {% if source.key5 %}  {{ source.key5 }}: {{ metadata.value5.name }}<br />  {% endif %}
    </p>
    <p>Full resolution: {{ image.original_width }} x {{ image.original_height }} pixels</p>
    <p>Upload date: {{ image.upload_date }}</p>
    <p>Uploaded by: {{ image.uploaded_by|default:"(Unknown)" }}</p>
    {% if metadata.pixel_cm_ratio %}  <p>Pixel/cm ratio: {{ metadata.pixel_cm_ratio }}</p>  {% endif %}
    {% if metadata.camera %}  <p>Camera: {{ metadata.camera }}</p>  {% endif %}
    {% if metadata.strobes %}  <p>Strobes: {{ metadata.strobes }}</p>  {% endif %}
    {% if metadata.water_quality %}  <p>Water quality: {{ metadata.water_quality }}</p>  {% endif %}
    {% if metadata.photographer %}  <p>Photographer: {{ metadata.photographer }}</p>  {% endif %}
    {% if metadata.description %}  <p>Description: {{ metadata.description|linebreaks }}</p>  {% endif %}

    {% get_obj_perms user for source as "source_perms" %}
    {% if "source_admin" in source_perms %}
    <a href="{% url image_detail_edit source.id image.id %}">{% trans 'Edit Image Details' %}</a>
    {% endif %}

    <!-- Script in the body will run on page load. -->
    <script type="text/javascript">

        initImageDetailPage();

    </script>

{% endblock %}
