{% extends "base.html" %}

{% block title %}CoralNet - New Source{% endblock %}

{% block javascript-functions %}
<script type="text/javascript">

    function changeKeyFields()
    {
        var key1_elmt = document.getElementById("id_key1");
        var key2_elmt = document.getElementById("id_key2");
        var key3_elmt = document.getElementById("id_key3");
        var key4_elmt = document.getElementById("id_key4");
        var key5_elmt = document.getElementById("id_key5");

        // Set each disabled property to true or false
        key2_elmt.disabled = (key1_elmt.value == "");
        key3_elmt.disabled = (key2_elmt.value == "" || key2_elmt.disabled);
        key4_elmt.disabled = (key3_elmt.value == "" || key3_elmt.disabled);
        key5_elmt.disabled = (key4_elmt.value == "" || key4_elmt.disabled);
    }

</script>
{% endblock %}

{% block content %}

    <h2>Create a new source</h2>

    {# This form submits to the same URL as this page. #}
    {# The view function redirects to the success page if the form is valid. #}

    <form action="" method="post">{% csrf_token %}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
      <p>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </p>
    </div>
    <div class="fieldWrapper">
      <p>
        {{ form.visibility.errors }}
        {{ form.visibility.label_tag }}
        {{ form.visibility }}
      </p>
    </div>

    <div>
      <p>Location keys (up to 5):</p>
        <p>(Most general)</p>
        <p>{{ form.key1.label_tag }}
         <input id="id_key1" type="text" name="key1" maxlength="50" onkeyup="changeKeyFields()"/></p>
        <p>{{ form.key2.label_tag }}
         <input id="id_key2" type="text" name="key2" maxlength="50" onkeyup="changeKeyFields()" disabled="disabled"/></p>
        <p>{{ form.key3.label_tag }}
         <input id="id_key3" type="text" name="key3" maxlength="50" onkeyup="changeKeyFields()" disabled="disabled"/></p>
        <p>{{ form.key4.label_tag }}
         <input id="id_key4" type="text" name="key4" maxlength="50" onkeyup="changeKeyFields()" disabled="disabled"/></p>
        <p>{{ form.key5.label_tag }}
         <input id="id_key5" type="text" name="key5" maxlength="50" onkeyup="changeKeyFields()" disabled="disabled"/></p>
        <p>(Most specific)</p>
    </div>

      <p>World location:</p>
        <div class="fieldWrapper">
          <p>
            {{ form.longitude.errors }}
            {{ form.longitude.label_tag }}
            {{ form.longitude }}
          </p>
        </div>
        <div class="fieldWrapper">
          <p>
            {{ form.latitude.errors }}
            {{ form.latitude.label_tag }}
            {{ form.latitude }}
          </p>
        </div>

      <p><input type="submit" value="Create Source" /></p>
    
    </form>

{% endblock %}
