{% extends "base.html" %}

{% block title %}CoralNet - New Source{% endblock %}

{% block content %}

    <h2>Create a new source</h2>

    {% comment %}
    When the user system's all up and running:
    - change this form's method to "post"
    - add a {% csrf_token %} tag inside the form
    - uncomment views.py's alternate code in newsource().
    {% endcomment %}

    <form action="/newsource/success/" method="get">

        <p><label for="sourceName"><i>Source Name:</i></label>
            <input type="text" name="sourceName" id="sourceName" />
        </p>

        <p><i>Visibility Setting:</i>
            <input type="radio" name="visibilitySetting" id="public" value="public"/>
            <label for="public">Public</label>
            <input type="radio" name="visibilitySetting" id="private" value="private"/>
            <label for="private">Private</label>
            <input type="radio" name="visibilitySetting" id="invisible" value="invisible"/>
            <label for="invisible">Invisible</label>
        </p>

        <p><input type="submit" value="Create Source" /></p>
    
    </form>

{% endblock %}
