{% extends "images/base_source.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load thumbnail %}

{% block title %}{{ source.name }} | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_form="yes" jquery_ui="yes" %}
    {% include "static-local-include.html" with type="css" path="css/source.css" %}
{% endblock %}

{% block page-specific-includes %}
    {{ editSourceForm.media }}
{% endblock %}

{% block content %}

    <div style="float:left;">
    <div style="margin-left:10px; width:100%">
    <div class="detail_box">
    <h3 style="text-align:center">Full Automated Annotation Table</h3>
    <p> This page does not create the pop-up view of the confusion matrices. Instead it redirecty immediately to the confusion matrix download. This is done to minimize page loading time. </p>
    <table class="detail_table_popup">

        <tr>
            <th colspan="4">Details</th>
            <th colspan="2">Full</th>
            <th colspan="3">Functional</th>
         </tr>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Time (s)</th>
            <th>Samp (#)</th>  
            <th>Acc</th>  
            <th>&#922</th>
            <th>Acc</th>  
            <th>&#922</th>
        </tr>
        {% for robot in robot_stats.robotlist %}
            <tr>
            <td> {{robot.version}} </td>
            <td> {{robot.date}} </td>
            <td> {{robot.train_time}} </td>
            <td> {{robot.nsamples}} </td>
            {% for cm in robot.cmlist %}
                <td><a href="{% url cm_download source.id robot.version cm.namestr%}">{{cm.acc}}%</a> </td>
                <td><a href="{% url cm_download source.id robot.version cm.namestr%}">{{cm.kappa}}%</a> </td>
            {% endfor %}
            {% if robot.alleviate_meta.ok %}
                <td><a href="{% url alleviate_download source.id robot.version%}">{{robot.alleviate_meta.suggestion}}%</a> </td>
            {% else %}
                <td> N.A. </td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    </div>

  
    <div style="clear:left"></div>


{% endblock %}
