{% extends "base.html" %}

{% block content %}
    <h2>Your Sources</h2>
    <table class="detail_table">
      <tr>
        <th>Source</th>
        <th>Your Role</th>
      </tr>
        {% for source in your_sources %}
          <tr>
            <td><a href="{% url source_main source.id %}">{{ source.name }}</a></td>
            <td>{{ source.your_role }}</td>
          </tr>
        {% endfor %}
    </table>
    <br />
    <p><a href="{% url source_new %}">+ Create a new Source</a></p>
    
    <hr />
    <h2>Other Public Sources</h2>

    <ul class="object_list">
    {% for source in other_public_sources %}
        <li><a href="{% url source_main source.id %}">{{ source.name }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
