{% extends "images/base_source.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load thumbnail %}

{% block title %}{{ source.name }} | CoralNet{% endblock %}

{% block page-specific-includes %}
  {{ editSourceForm.media }}
{% endblock %}

{% block content %}

    {% get_obj_perms user for source as "source_perms" %}

    <h1>{{ source.name }}</h1>

    <hr />

    <div class="detail_list">

        <div>
        <p>Visibility: {{ source.get_visibility_display }}</p>
        <p>Date Created: {{ source.create_date }}</p>

        {% if source.description %}
          <p>Description:</p>
            <span style="display:block; margin-left:30px;">
                {{ source.description|linebreaks }}
            </span>
        {% else %}
          <p>Description: (None)</p>
        {% endif %}

        </div>

        <div>
        <p>Location keys: {{ loc_keys }}</p>

        {% if source.image_height_in_cm %}
          <p>Default image height coverage: {{ source.image_height_in_cm }} centimeters</p>
        {% else %}
          <p>Default image height coverage: (Not specified)</p>
        {% endif %}

        {% if source.image_annotation_area %}
          <p>Default image annotation area: {{ source.image_annotation_area_display }}</p>
        {% else %}
          <p>Default image annotation area: (Not specified)</p>
        {% endif %}

        <p>Annotation point generation: {{ source.point_gen_method_display }}</p>
        </div>

        <div>
        <p>Longitude: {{ source.longitude|default:"(Not specified)" }}</p>
        <p>Latitude: {{ source.latitude|default:"(Not specified)" }}</p>
        </div>

        <div>
        {% if "source_admin" in source_perms %}
        <a href="{% url source_edit source.id %}">{% trans 'Edit Source Details' %}</a>
        {% endif %}
        </div>

    </div>

    <hr />
    <div id="images">
        <h2>Latest images</h2>
        {% if latest_images %}
            {% for image in latest_images %}
                <span class="thumb_small_wrapper">
                <a href="{% url image_detail source.id image.id %}">
                    <img class="thumb_small"
                         src="{% thumbnail image.original_file 100x100 %}"
                         title="{{ image.get_image_element_title }}"/>
                </a>
                </span>
            {% endfor %}

            <p>Total images: {{ stats.num_images }}</p>
            <table class="detail_table">
                <tr>
                    <td>Not annotated</td>
                    <td>{{ stats.need_comp_anno_images }}</td>
                </tr>
                <tr>
                    <td>Computer annotated, needs human annotation</td>
                    <td>{{ stats.need_human_anno_images }}</td>
                </tr>
                <tr>
                    <td>Completed (human annotated)</td>
                    <td>{{ stats.anno_completed_images }}</td>
                </tr>
            </table>
        {% else %}
            <p>(No images yet)</p>
        {% endif %}
    </div>

    <hr />
    <div id="annotations">
        <h2>Annotations</h2>

        {% if source.labelset.isEmptyLabelset %}
            {% if "source_admin" in source_perms %}
            <p><a href="{% url labelset_new source.id %}">Create a labelset</a> to get started with annotations</p>
            {% else %}
            <p>The Source admin hasn't created a labelset yet.</p>
            {% endif %}
        {% else %}
        <p>Labelset: <a href="{% url labelset_main source.id %}">View labelset</a></p>
        {% endif %}
    </div>

    {% if members %}
    <hr />
    <div id="members">
        <h2>Members</h2>

        <div>
        <table class="detail_table">
            <tr>
                <th>Member</th>
                <th>Role</th>
            </tr>
            {% for member in members %}
            <tr>
                <td><a href="{% url userena_profile_detail member.username %}">{{ member.username }}</a></td>
                <td>{{ member.role }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <br />
        <div>
        {% if "source_admin" in source_perms %}
          {% for invite in source.sourceinvite_set.all %}
            <p>({{ invite.recipient.username }} has been invited with {{ invite.source_perm_verbose }} permissions)</p>
          {% endfor %}
          <a href="{% url source_invite source.id %}">+ Invite a new member</a>
        {% endif %}
        </div>
    </div>
    {% endif %}

{% endblock %}
