{% extends "base.html" %}

{% block title %}New Source | CoralNet{% endblock %}

{% block media-includes %}
  {{ sourceForm.media }}
  {{ pointGenForm.media }}
{% endblock %}

{% block content %}

    <legend>Create a New Source</legend>

    {# This form submits to the same URL as this page. #}
    {# The view function redirects to the success page if the form is valid. #}

    <form action="" method="post">{% csrf_token %}
      {% include "images/form_source.html" with sourceForm=sourceForm pointGenForm=pointGenForm %}

      <div class="submit_button_wrapper">
        <input type="submit" value="Create Source" />
      </div>
    </form>

{% endblock %}
