{% extends "images/base_source.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load thumbnail %}

{% block title %}{{ source.name }} | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_form="yes" jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {{ editSourceForm.media }}
{% endblock %}

{% block content %}

    {% get_obj_perms user for source as "source_perms" %}

    <div id="images">
        {% if latest_images %}
            {% for image in latest_images %}
                <span class="thumb_large_wrapper">
                <a href="{% url image_detail image.id %}">
                    <img class="thumb_small"
                         src="{% thumbnail image.original_file 300x300 %}"
                         title="{{ image.get_image_element_title }}"/>
                </a>
                </span>
            {% endfor %}
        {% endif %}

        <div class="detail_box">
            <div style="float:left">
            <ul>
                <li>Date Created: {{ source.create_date }}</li>
            {% if not source.enable_robot_classifier %}
                <li>Machine annotator: Disabled (can enable upon <a href="{% url contact %}">request</a>)</li>
            {% else %}
                {% if robotStats.hasRobot %}
                    <li>{{robotStats.edit}}</li>
                {% endif %}
            {% endif %}
            </ul>
            </div>
            <div style="float:right">
            <ul>
                {% if source.image_height_in_cm %}
                    <li>Default image height coverage(cm): {{ source.image_height_in_cm }}</li>
                {% endif %}
                {% if source.image_annotation_area %}
                    <li>Default image annotation area: {{ source.image_annotation_area_display }}</li>
                {% endif %}
                <li>Annotation point generation: {{ source.point_gen_method_display }}</li>
            </ul>
            </div>
            <div style="clear:left">
                {% if source.description %}
                    <br><br>
                    {{ source.description }}
                {% endif %}
            </div>
        </div>


        <div style="float:left;">
            {% if members %}
                <div class="detail_box">
                    <h3 style="text-align:center">Members</h3>
                    <table class="detail_box_table">
                        {% for member in members %}
                            <tr>
                                <td><a href="{% url userena_profile_detail member.username %}">{{ member.username }}</a></td>
                                <td><b>{{ member.role }}</b></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            <div class="detail_box">
                <h3 style="text-align:center">Source Details</h3>
                <table class="detail_box_table">
                    <tr>
                        <td>Visibility: <b>{{ source.get_visibility_display }}</b></td>
                    </tr>
                    {% if source.latitude %}
                        <tr>
                            <td>Latitude: <b>{{ source.latitude }}</b></td>
                        </tr>
                    {% endif %}
                    {% if source.longitude %}
                        <tr>
                            <td>Longitude: <b>{{ source.longitude }}</b></td>
                        </tr>
                    {% endif %}
                    {% if source.enable_robot_classifier  %}
                        {% if robotStats.hasRobot %}
                            <tr>
                                <td>Robot Version: <b>{{ robotStats.version }}</b></td>
                            </tr>
                            <tr>
                                <td>Est. Precision (%): <b>{{ robotStats.precision|floatformat:2 }}</b></td>
                            </tr>
                            <tr>
                                <td>Traintime (s): <b>{{ robotStats.trainTime }}</b></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:openDialog();">Confusion Matrix</a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            </div>
        </div>
        {% if latest_images %}
            <div style="padding:10px;float:right">
                {% if source.enable_robot_classifier %}
                    <h2>Not annotated: <a href="{% url visualize_source source.id %}?image_status=1">{{ image_stats.need_comp_anno }}</a></h2>
                    <h2>Needs review:
                        {% if image_stats.need_human_anno_first %}
                            <a href="{% url visualize_source source.id %}?image_status=2">{{ image_stats.need_human_anno }}</a>
                        {% else %}
                            {{ image_stats.need_human_anno }}
                        {% endif %}
                    </h2>
                    <h2>Completed: <a href="{% url visualize_source source.id %}?image_status=3">{{ image_stats.anno_completed }}</a></h2>
                {% else %}
                    <h2>Not annotated:
                        {% if image_stats.need_anno_first %}
                            <a href="{% url visualize_source source.id %}?image_status=1">{{ image_stats.need_anno }}</a>
                        {% else %}
                            {{ image_stats.need_anno }}
                        {% endif %}
                    </h2>
                    <h2>Completed: <a href="{% url visualize_source source.id %}?image_status=2">{{ image_stats.anno_completed }}</a></h2>
                {% endif %}
                <h2>Total images: <a href="{% url visualize_source source.id %}?image_status=0">{{ image_stats.total }}</a></h2>
            </div>
        {% endif %}
    </div>

    <div style="clear:left"></div>

    <script>
        function openDialog() {
            $( "#dialog" ).dialog({resizable: false,modal: true,width:'auto'});
        }
    </script>

    <div id="dialog" title="Confusion Matrix" style="display:none;font-size: 62.5%;">
        <p>The First Row and Column Indicate the Functional Group</p>
        <table>
        <tr>
        <td>
        <table class="detail_table">
            <tr>
                <td> cm </td>
                {% for labels in robotStats.labelMap %}
                    <td>{{labels}}</td>
                {% endfor %}
            </tr>
            {% for value in robotStats.cm %}
                {% if forloop.counter0|divisibleby:robotStats.matrixSize %}
                    <tr>
                    <td> {{value}} </td>
                {%else %}
                    <td> {{value}} </td>
                {% endif %}

            {% if forloop.counter|divisibleby:robotStats.matrixSize %}
                </tr>
            {% endif %}
            {% endfor %}
        </table>
        </td>
        <td>
        <table class="detail_table">
            <tr>
                <td>Count</td>
            </tr>
            {% for labels in robotStats.row_sum %}
                <tr>
                    <td>{{ labels}}</td>
                </tr>
            {% endfor %}
            </tr>
        </table>
        </td>
        </table>
        <p><a href="{% url csv_download source.id %}">Download Full Confusion Matrix</a></p>

    </div>

{% endblock %}
