{% extends "images/base_source.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load thumbnail %}

{% block title %}{{ source.name }} | CoralNet{% endblock %}

{% block page-specific-includes %}
  {{ editSourceForm.media }}
{% endblock %}

{% block content %}

    {% get_obj_perms user for source as "source_perms" %}

    <h1>{{ source.name }}</h1>

    <hr />

    <div id="images">
        <h3>Latest images</h3>
        {% if latest_images %}
            {% for image in latest_images %}
                <span class="thumb_small_wrapper">
                <a href="{% url image_detail source.id image.id %}">
                    <img class="thumb_small"
                         src="{% thumbnail image.original_file 100x100 %}"
                         title="{{ image.get_image_element_title }}"/>
                </a>
                </span>
            {% endfor %}

            <p>Total images: {{ image_stats.total }}</p>
            <table class="detail_table">
                <tr>
                    <td>Not annotated</td>
                    <td>{{ image_stats.need_comp_anno }}</td>
                </tr>
                <tr>
                    <td>Computer annotated, needs human annotation</td>
                    <td>
                        {% if image_stats.need_human_anno_first %}
                            <a href="{% url annotation_tool source.id image_stats.need_human_anno_first.id %}"
                               title="{{ image_stats.need_human_anno_first.get_image_element_title }}">
                                {{ image_stats.need_human_anno }}</a>
                        {% else %}
                            {{ image_stats.need_human_anno }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Completed (human annotated)</td>
                    <td>{{ image_stats.anno_completed }}</td>
                </tr>
            </table>
        {% else %}
            <p>(No images yet)</p>
        {% endif %}
    </div>

    <hr />
    <div id="robots">
		{% if robotStats.hasRobot %}
        <h3>Robot stats</h3>
            <table class="detail_table">
                <tr>
                    <td>Version</td>
                    <td>{{ robotStats.version }}</td>
                </tr>
                <tr>
                    <td>Estimated precision (%)</td>
                    <td>{{ robotStats.precision }}</td>
                </tr>
                <tr>
                    <td>Traintime (s)</td>
                    <td>{{ robotStats.trainTime }}</td>
                </tr>
            </table>
        {% else %}
            <p>(No robot availible yet)</p>
        {% endif %}
	</div> 
    <hr />
    <div id="annotations">
        <h3>Annotations</h3>

        {% if source.labelset.isEmptyLabelset %}
            {% if "source_admin" in source_perms %}
            <p><a href="{% url labelset_new source.id %}">Create a labelset</a> to get started with annotations</p>
            {% else %}
            <p>The Source admin hasn't created a labelset yet.</p>
            {% endif %}
        {% else %}
        <p>Labelset: <a href="{% url labelset_main source.id %}">View labelset</a></p>
        {% endif %}
    </div>

    {% if members %}
    <hr />
    <div id="members">
        <h3>Members</h3>

        <div>
        <table class="detail_table">
            <tr>
                <th>Member</th>
                <th>Role</th>
            </tr>
            {% for member in members %}
            <tr>
                <td><a href="{% url userena_profile_detail member.username %}">{{ member.username }}</a></td>
                <td>{{ member.role }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <br />
        <div>
        {% if "source_admin" in source_perms %}
          {% for invite in source.sourceinvite_set.all %}
            <p>({{ invite.recipient.username }} has been invited with {{ invite.source_perm_verbose }} permissions)</p>
          {% endfor %}
          <p><a href="{% url source_invite source.id %}">+ Invite a new member</a></p>
        {% endif %}
        </div>
    </div>
    {% endif %}

    <hr />

    <div class="details">

        <h3>Source Details</h3>

        <ul>
          <li>Visibility: {{ source.get_visibility_display }}</li>
          <li>Date Created: {{ source.create_date }}</li>

          {% if source.description %}
            <li>Description:
              <span style="display:block; margin-left:30px;">
                {{ source.description|linebreaks }}
              </span>
            </li>
          {% else %}
            <li>Description: (None)</li>
          {% endif %}
        </ul>

        <ul>
          <li>Location keys: {{ loc_keys }}</li>

          {% if source.image_height_in_cm %}
            <li>Default image height coverage: {{ source.image_height_in_cm }} centimeters</li>
          {% else %}
            <li>Default image height coverage: (Not specified)</li>
          {% endif %}

          {% if source.image_annotation_area %}
            <li>Default image annotation area: {{ source.image_annotation_area_display }}</li>
          {% else %}
            <li>Default image annotation area: (Not specified)</li>
          {% endif %}

          <li>Annotation point generation: {{ source.point_gen_method_display }}</li>
        </ul>

        <ul>
          <li>Longitude: {{ source.longitude|default:"(Not specified)" }}</li>
          <li>Latitude: {{ source.latitude|default:"(Not specified)" }}</li>
        </ul>

        {% if "source_admin" in source_perms %}
        <a href="{% url source_edit source.id %}">{% trans 'Edit Source Details' %}</a>
        {% endif %}

    </div>

{% endblock %}
