{% extends "images/base_source.html" %}

{% block title %}Edit Source ({{ source.name }}) | CoralNet{% endblock %}

{% block page-specific-includes %}
  {{ pointGenForm.media }}
{% endblock %}

{% block content %}

    <legend>Edit Source</legend>

    {% with source_form_type="edit" %}

    <form action="" method="post">{% csrf_token %}
      {% include "images/form_source.html" with sourceForm=editSourceForm location_key_form=location_key_edit_form pointGenForm=pointGenForm annotationAreaForm=annotationAreaForm %}

      <div class="submit_button_wrapper_column_form">
        <input type="submit" value="Save Changes" />
        <input name="cancel" type="submit" value="Cancel Changes" />
      </div>
    </form>

    {% endwith %}

{% endblock %}
