{% extends "images/base_source.html" %}

{% block title %}Administer Source | CoralNet{% endblock %}

{% block page-specific-includes %}
  {{ inviteForm.media }}
{% endblock %}

{% block content %}

    <p><a href="{% url source_edit source.id %}">Edit Source Details</a></p>

    <legend style="display:inline;">Send an Invite</legend>

    <form action="" method="post">{% csrf_token %}
      {% include "form_generic.html" with form=inviteForm %}

      <div class="submit_button_wrapper_column_form">
        <input name="sendInvite" type="submit" value="Send Invite" />
      </div>
    </form>

    <legend style="display:inline;">Edit Permissions</legend>

    <form action="" method="post">{% csrf_token %}
        {% include "form_generic.html" with form=changePermissionForm %}
        <div class="submit_button_wrapper_column_form">
            <input name="changePermission" type="submit" value="Apply Change" />
        </div>
    </form>

    <legend style="display:inline;">Remove User</legend>

    <form action="" method="post">{% csrf_token %}
        {% include "form_generic.html" with form=removeUserForm %}
        <div class="submit_button_wrapper_column_form">
            <input name="removeUser" type="submit" value="Remove" />
        </div>
    </form>

{% endblock %}
