{% extends "images/base_source.html" %}

{% block title %}Edit Source ({{ source.name }}) | CoralNet{% endblock %}

{% block media-includes %}
  {{ block.super }}
  {{ editSourceForm.media }}
  {{ pointGenForm.media }}
{% endblock %}

{% block content %}

    <legend>Edit Source</legend>
    
    <form action="" method="post">{% csrf_token %}
      {% include "form_generic.html" with form=editSourceForm %}
      {% include "form_generic.html" with form=pointGenForm %}

      <div class="submit_button_wrapper">
        <input type="submit" value="Save Changes" />
        <input name="cancel" type="submit" value="Cancel Changes" />
      </div>
    </form>

{% endblock %}
