{% extends "base.html" %}

{% block title %}CoralNet - Signup{% endblock %}

{% block page-specific-includes %}
  {{ form.media }}
{% endblock %}

{% block content %}
     <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>


    <legend>Request an account</legend>
    <span class="helptext">We don't have open registration yet, but you can use this form to request an account. If we accept your request, we'll create an account for you and e-mail you with the info you need to log in. If you don't hear back from us in 2 days, please send a new request, or let us know through the <a href="http://coralnet.ucsd.edu/contact/"> contact form</a>. </span>
    <form action="{% url request_account %}" method="post">
        {% csrf_token %}
        
        {% include "form_generic.html" with form=form %}
        
        <div class="submit_button_wrapper_column_form">
         <div id="recaptcha_div"></div>
       
          <input type="submit" value="Submit" />
        </div>
    </form>

      <script type="text/javascript">
          var key = "{{public_key}}";
          Recaptcha.create(key,
         "recaptcha_div",
         {
           theme: "red",
           callback: Recaptcha.focus_response_field
         }
         );
      </script>


{% endblock %}
